@model PriceViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("Edit", "Price", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{
    <div class="validation-group">
        <div class="controls">
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="control-group">
        @Html.Label(WebModels.WebResources.TimeApply, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.StringTimeApply, new { @class = "input-block-level datepicker"})
            @Html.ValidationMessageFor(m => m.StringTimeApply)
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.Label(WebModels.WebResources.CommodityName, new { @class = "control-label" })
        <div class="controls">
            <div style="width:99%;">
                @(Html.Kendo().ComboBoxFor(m => m.ProductID)
                                                              .DataTextField("ProductDisplayName")
                                                              .DataValueField("ID")
                                                              .Placeholder("Chọn hàng hoá...")
                                                              .Name("ProductID")
                                                              .HtmlAttributes(new { id = "ComboboxProduct" })
                                                              .Suggest(true)
                                                              .Filter("contains")
                                                              .DataSource(source =>
                                                              {
                                                                  source.Read(read =>
                                                                     {
                                                                  read.Action("GetProduct", "Product");
                                                                     })
                                                                  .ServerFiltering(true);
                                                              })
                                                              .Events(e => e.DataBound("onDataBoundCombobox").Change("onChangeCombobox"))
                )
                @Html.ValidationMessageFor(m => m.ProductID)
            </div>
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.Label(WebModels.WebResources.ShoprName, new { @class = "control-label" })
        <div class="controls">
            <div style="width:99%;">
                @(Html.Kendo().ComboBoxFor(m => m.StationID)
                                                              .DataTextField("StationDisplayName")
                                                              .DataValueField("ID")
                                                              .Placeholder("Chọn cửa hàng...")
                                                              .Name("StationID")
                                                              .HtmlAttributes(new { id = "ComboboxStation" })
                                                              .Suggest(true)
                                                               .Filter("contains")
                                                              .DataSource(source =>
                                                              {
                                                                  source.Read(read =>
                                                              {
                                                                  read.Action("GetStation", "Station");
                                                              })
                                                                  .ServerFiltering(true);
                                                              })
                                                              .Events(e => e.DataBound("onDataBoundCombobox").Change("onChangeCombobox"))
                )
            </div>
        </div>
    </div>
    <div class="control-group">
        @Html.Label(WebModels.WebResources.CustomerName, new { @class = "control-label" })
        <div class="controls">
            <div style="width:99%;">
                @(Html.Kendo().MultiSelect()
                          .DataTextField("CustomerDisplayName")
                          .DataValueField("ID")
                          .Name("CustomerID")
                          .HtmlAttributes(new { id = "ComboboxCustomer" })
                          .Placeholder("Chọn khách hàng...")
                          .Filter("contains")
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetCustomer", "Customer");
                              })
                              .ServerFiltering(false);
                          })
                          .Value(ViewBag.Customers)
                )
            </div>
        </div>
    </div>
    <div class="control-group">
        @Html.Label(WebModels.WebResources.Price, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Prices, new { @class = "input-block-level numberOnly", @id = "uIntTextBox" })
            @Html.ValidationMessageFor(m => m.Prices)
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.Label(WebModels.WebResources.Information, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(m => m.Information, new { @class = "input-block-level" })
        </div>
    </div>

    <div class="form-actions">
        <button class="k-button" type="submit"><i class="icon-save"></i>@Resources.Common.SaveChanges</button>
        <button class="k-button destroy" type="reset">@WebModels.WebResources.Cancel</button>
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    $(document).ready(function () {
        top.winsetup("Sửa giá bán", 756, 470, true);
    });

    function edit_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }

    function thumbprocess(obj, target, noimg) {
        var state = $(obj).attr("state");
        var cthumb = $(obj).next().attr('url');
        if (state == '' || state == null) {
            $(obj).next().val('');
            $('#' + target).find('img').attr('src', noimg);
            $(obj).text("Khôi phục"); $(obj).attr("state", "1")
        } else {
            $(obj).text("Xóa");
            $('#' + target).find('img').attr('src', cthumb);
            $(obj).next().val(cthumb); $(obj).attr("state", "")
        }
    }
    $(".datepicker").kendoDateTimePicker({
        format: "dd/MM/yyyy HH:mm",
        timeFormat: "HH:mm",
        culture: "vi-VN",
    });
    setTimeout(function () {
        var height = $('form').height();
        window.parent.$(".k-window").height(height + 30);
        $(".k-button").click(function () {
            setTimeout(function () {
                var height = $('form').height();
                window.parent.$(".k-window").height(height + 30);
            }, 100);
        });
    }, 1000);
</script>
<style>
    .k-multiselect-wrap .k-input {
        padding-left: 12px !important;
    }
</style>