@{
    ViewBag.Title = "Index";
}
@*<h3>FAQ</h3>
@Html.Action("_PubIndex", "FAQ", new { area = "ContentType", id = 11 })
<div class="clear"></div>
<h3>LIST NEWS</h3>
@Html.Action("_PubIndex", "News", new { area = "ContentType", id = 7 })
<div class="clear"></div>
<h3>LIST NEWS GRID</h3>
@Html.Action("_PubIndexGrid", "News", new { area = "ContentType", id = 7 })
<div class="clear"></div>
<h3>LIST PHOTO GRID</h3>

@Html.Action("_PubIndex", "Photo", new { area = "ContentType", id = 9 })

<div class="clear"></div>
<h3>LIST VIDEO GRID</h3>
@Html.Action("_PubIndex", "Video", new { area = "ContentType", id = 10 })
<div class="clear"></div>
<h3>FORM CONTACT</h3>
@Html.Action("_PubIndex", "Contact", new { area = "ContentType", id = 6 })*@
