@model IEnumerable<WebModels.WebModule>

<span class="bottom"></span>
    <h3>News</h3>
    <div class="content-box">
        <ul class="sidebar_list">
            @foreach (var item in Model)
            {
                var node = item;
                <li>

                    @if (string.IsNullOrEmpty(node.URL) || string.IsNullOrWhiteSpace(node.URL))
                    {
                        @Html.ActionLink(@node.Title, "Index", "Home", new { metatitle = node.MetaTitle != null ? node.MetaTitle : "web", id = node.ID }, new { title = node.Title })
                    }
                    else
                    {
                        <a href="@node.URL" target="@node.Target">@node.Title</a>
                    }

                    @if (node.SubWebModules.Any())
                    {
                        @CreateMenu(node.SubWebModules)
                    }
                </li>
            }
        </ul>

    </div>

    @helper CreateMenu(IEnumerable<WebModels.WebModule> nodes)
    {
        <ul>
            @foreach (var item in nodes)
            {
                var node = item;
                <li>
                    @if (node.UID != null)
                    {
                        if (string.IsNullOrEmpty(node.URL) || string.IsNullOrWhiteSpace(node.URL))
                        {
                            @Html.ActionLink(@node.Title, "Index", "Home", new { metatitle = node.MetaTitle != null ? node.MetaTitle : "web", id = node.ID }, new { title = node.Title })
                        }
                        else
                        {
                            <a href="@node.URL" target="@node.Target">@node.Title</a>
                        }
                    }

                    @if (node.SubWebModules.Any())
                    {
                        @CreateMenu(node.SubWebModules)
                    }
                </li>
            }
        </ul>
    }


    @*<span class="bottom"></span>
    <h3>News</h3>
    <div class="content-box">
        <ul class="sidebar_list">
            <li class="first"><a href="#">Sed eget purus</a></li>
            <li><a href="#">Vestibulum eleifend</a></li>
            <li><a href="#">Nulla odio ipsum</a></li>
            <li><a href="#">Suspendisse posuere</a></li>
            <li><a href="#">Nunc a dui sed</a></li>
            <li class="last"><a href="#">Sed eget purus</a></li>
        </ul>
    </div>*@