@model  WebModels.Navigation
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
@using (Html.BeginForm("Edit", "Navigation", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{
    <div class="control-group">
        @Html.LabelFor(m => m.Key, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Key, new { @class = "input-block-level" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Title, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Title, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(m => m.Description, new { @class = "input-block-level" })
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.Order, new { @class = "control-label" })
        <div class="controls">
            @(Html.Kendo().NumericTextBoxFor<int>(m => m.Order).Min(0).Max(100).Format("#"))
        </div>
    </div>

    <div class="validation-group">
        <div class="controls">
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">@Resources.Common.SaveChanges</button>
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    top.winsetup("@Html.Raw(Resources.Common.EditItem)", 900, 350, true);
    function edit_success() {
        top.winclose();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
</script>
