<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Content/themes/admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/themes/admin/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/Content/themes/admin/css/plugins/icheck/all.css">
    <link rel="stylesheet" href="/Content/themes/admin/css/plugins/select2/select2.css">
    <link rel="stylesheet" href="/Content/themes/admin/css/plugins/colorbox/colorbox.css">
    <link rel="stylesheet" href="/Content/themes/admin/css/style.css">
    <link rel="stylesheet" href="/Content/themes/admin/css/themes.css">
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/themes/admin/css/zstyle.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script src="/Content/themes/admin/js/bootstrap.min.js"></script>
    <script src="/Content/themes/admin/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/Content/themes/admin/js/plugins/validation/additional-methods.min.js"></script>
    <script src="/Content/themes/admin/js/plugins/icheck/jquery.icheck.min.js"></script>
    <script src="/Content/themes/admin/js/plugins/fileupload/bootstrap-fileupload.min.js"></script>
    <script src="/Content/themes/admin/js/plugins/bootbox/jquery.bootbox.js"></script>
    <script src="/Content/themes/admin/js/plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="/Content/themes/admin/js/plugins/select2/select2.min.js"></script>
    <script src="/Content/themes/admin/js/plugins/pageguide/jquery.pageguide.js"></script>
    <script src="/Content/themes/admin/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.metro.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="/Content/ckeditor/ckeditor.js"></script>
    <script src="/Content/themes/admin/js/eakroko.js"></script>
    <link href="~/Content/themes/admin/css/petrol.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture.de-DE.js")"></script>
    <script src="~/Scripts/kendo/cultures/kendo.culture.de-DE.js"></script>
    <!--[if lte IE 9]>
        <script src="/Content/themes/admin/js/plugins/placeholder/jquery.placeholder.min.js"></script>
        <script>
            $(document).ready(function() {
                $('input, textarea').placeholder();
            });
        </script>
    <![endif]-->
    <link rel="shortcut icon" type="image/png" href="~/Content/themes/admin/img/logo-company-removebg-preview.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png" />
    <script src="https://kendo.cdn.telerik.com/2019.2.514/js/cultures/kendo.culture.vi-VN.min.js"></script>
</head>
<body>
    <script>
        /**COMBOBOX */
        console.log("Layout_Empty-4");
        function callEditFunction(name, string) {
            var grid = $("#editimportchild").data("kendoGrid");
            grid.bind("edit", function (e) {
                e.model.set(string + "DisplayName", name);
            });
        };
        var dataComboboxList = [];
        var checkBoundIndex = 0;
        var checkBoundName = "";
        function onDataBoundCombobox() {
            var nameCombobox = $(this.element[0]).attr('id').replace("Combobox", "");
            var comboboxName = "#Combobox" + nameCombobox;
            if (checkBoundIndex == 0) {
                setTimeout(function () {
                    var dataCombobox = $(comboboxName).data("kendoComboBox").dataSource.data();;
                    dataComboboxList.push(dataCombobox);
                    if (checkBoundName == nameCombobox) {
                        checkBoundIndex = 1;
                    }
                }, 100);
            }
        }
        function onChangeCombobox(e) {
            var val = this.text();
            var nameCombobox = $(this.element[0]).attr('id').replace("Combobox", "");
            var displayName = nameCombobox + "DisplayName";
            var checkvalue = 0;
            for (var j = 0; j < dataComboboxList.length; j++) {
                for (var i = 0; i < dataComboboxList[j].length; i++) {
                    if (val === dataComboboxList[j][i][displayName]) {
                        checkvalue = 1;
                        $("input[id=" + $(this.element[0]).attr('id') + "]").val(dataComboboxList[j][i].ID);
                    }
                }
            }
            if (checkvalue == 0) {
                this.value("");
            }
        }
    </script>
    <div id="windowpopup" style="overflow: hidden; display: none;">  </div>
    @RenderBody()
    <script type="text/javascript">
        var win = $("#windowpopup").kendoWindow({ width: 600 + "px", height: 350 + "px", modal: true, draggable: true, resizable: true, actions: ["Minimize", "Maximize", "Close"], visible: false, iframe: true, pinned: true });
        win.data("kendoWindow").bind("close", function (e) {
            setTimeout(function () {
                winsize(600, 350);
                win.data("kendoWindow").refresh('/admin/home/loading');
                wintitle(''); wincenter();
            }, 200);
        });
        $(document).ready(function () {
            kendo.culture("de-DE");
            win.data("kendoWindow").refresh({ url: '/admin/home/loading' });
            wincenter();
        });
        function wintitle(t) { win.data("kendoWindow").title(t); }
        function winsize(w, h) {
            if (h != null) win.data("kendoWindow").setOptions({ height: h });
            if (w != null) win.data("kendoWindow").setOptions({ width: w });
        }
        function winmaxi() { win.data("kendoWindow").toggleMaximization(); }
        function wincenter() { win.data("kendoWindow").center(); }
        function winclose() { win.data("kendoWindow").close(); }
        function winsetup(t, w, h, center) {
            winsize(w, h);
            win.data("kendoWindow").title(t); if (center == true) win.data("kendoWindow").center();
        }
        function opendlg(link) {
            win.data("kendoWindow").open().refresh({ url: link });
        }
        function openwin(url, target, w, h) {
            var left = (window.screen.availWidth / 2) - (w / 2);
            var top = (window.screen.availHeight / 2) - (h / 2);
            return window.open(url, target, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        }
        $(".destroy").click(function () {
            top.$("#window").data("kendoWindow").close();
        });
        function setInputFilter(textbox, inputFilter) {
            if (textbox != null && textbox != undefined) {
                ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
                    textbox.addEventListener(event, function () {
                        if (inputFilter(this.value)) {
                            this.oldValue = this.value;
                            this.oldSelectionStart = this.selectionStart;
                            this.oldSelectionEnd = this.selectionEnd;
                        } else if (this.hasOwnProperty("oldValue")) {
                            this.value = this.oldValue;
                            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                        } else {
                            this.value = "";
                        }
                    });
                });
            }
        }
        //int (-1000;1000)ty
        setInputFilter(document.getElementById("int1000TextBox"), function (input) {
            return /^\-?\d*$/.test(input);
        });

        //uint
        setInputFilter(document.getElementById("uIntTextBox"), function (input) {
            return /^\d{0,12}$/.test(input);
        });

        // decimal (0;99.9999)
        setInputFilter(document.getElementById("decimalTaxTextBox"), function (input) {
            return /^\d{0,2}[,]?\d{0,4}$/.test(input);
        });
        // phonenumber {0,10}
        setInputFilter(document.getElementById("intPhoneNumber"), function (input) {
            return /^\d{0,11}$/.test(input);
        });
        function processInt(input) {
            let value = input.value;
            let numbers = value.replace(/^(-?\d{1,12})$/g, "");
            input.value = numbers;
        }
        $("input.decimalTaxTextBox").bind("change keyup input", function () {
            var position = this.selectionStart - 1;
            //remove all but number and .
            var fixed = this.value.replace(/[^\d{0,2}(\.\d{0,4})?]/g, "");
            if (fixed.charAt(0) === ".")
                //can't start with .
                fixed = fixed.slice(1);

            var pos = fixed.indexOf(".") + 1;
            if (pos >= 0)
                //avoid more than one .
                fixed = fixed.substr(0, pos) + fixed.slice(pos).replace(".", "");

            if (this.value !== fixed) {
                this.value = fixed;
                this.selectionStart = position;
                this.selectionEnd = position;
            }
        });
        //Format number commas
        function FormatCurrency(ctrl) {
            if (event.keyCode == 37 || event.keyCode == 38 || event.keyCode == 39 || event.keyCode == 40) {
                return;
            }

            var val = ctrl.value;

            val = val.replace(/,/g, "")
            ctrl.value = "";
            val += '';
            x = val.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';

            var rgx = /(\d+)(\d{3})/;

            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }

            ctrl.value = x1 + x2;
        }

        function CheckNumeric() {
            return event.keyCode >= 48 && event.keyCode <= 57;
        }

    </script>
    <script type="text/javascript">@Html.Raw(ViewBag.StartupScript)</script>
</body>
</html>


