@model WebModels.WebContact

@{ 
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
     
}

@using (Html.BeginForm("Delete", "Order", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{   
    <div class="alert alert-info"> 
		@Html.Raw(Resources.Common.DeleteSureItem):  <strong>@Html.DisplayFor(m => m.ID)</strong>? <br/><span>Họ và tên khách đặt mua: </span><br/>@Html.DisplayFor(m => m.FullName )
	</div>
 
    <div class="validation-group"> 
        @Html.ValidationSummary(true) 
    </div>

    <div style="text-align:center;">
        <button class="btn btn-primary" type="submit">@Resources.Common.Delete</button> 
    </div>
    @Html.HiddenFor(m => m.ID )
    @Html.HiddenFor(m => m.FullName) 
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    function delete_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
</script>
