@model WebModels.Station

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
@using (Html.BeginForm("Add", "Station", new { }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{
    <div class="validation-group">
        <div class="controls">
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.StationCode, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.StationCode, new { @class = "input-block-level" })
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.StationName, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.StationName, new { @class = "input-block-level" })
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Information, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(m => m.Information, new { @class = "input-block-level" })
        </div>
    </div>

    <div class="form-actions">
        <button class="k-button" name="submit" value="0" type="submit"><i class="icon-save"></i>@Resources.Common.SaveChanges</button>
        <button class="k-button destroy" type="reset">@WebModels.WebResources.Cancel</button>
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    top.winsetup("Thêm cửa hàng", 600, 290, true);
    function create_success() {
        top.winclose();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
    setTimeout(function () {
        var height = $('form').height();
        window.parent.$(".k-window").height(height + 30);
        $(".k-button").click(function () {
            setTimeout(function () {
                var height = $('form').height();
                window.parent.$(".k-window").height(height + 30);
            }, 100);
        });
    }, 1000);
</script>