@model ListedPriceViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("Add", "ListedPrice", new { }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{
    <div class="validation-group">
        <div class="controls">
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="control-group">
        @Html.Label(WebModels.WebResources.TimeApply, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.StringTimeApply, new { @class = "input-block-level datepicker" })
            @Html.ValidationMessageFor(m => m.StringTimeApply)
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.Label(WebModels.WebResources.CommodityName, new { @class = "control-label" })
        <div class="controls">
            <div style="width:99%;">
                @(Html.Kendo().ComboBoxFor(m => m.ProductID)
                                                              .DataTextField("ProductDisplayName")
                                                              .DataValueField("ID")
                                                              .Filter("contains")
                                                              .Placeholder("Chọn hàng hoá...")
                                                              .Name("ProductID")
                                                              .HtmlAttributes(new { id = "ComboboxProduct" })
                                                              .Suggest(true)
                                                              .DataSource(source =>
                                                              {
                                                                  source.Read(read =>
                                                                  {
                                                                      read.Action("GetProduct", "Product");
                                                                  })
                                                                  .ServerFiltering(true);
                                                              })
                                                              .Events(e=>e.DataBound("onDataBoundCombobox").Change("onChangeCombobox"))
                )
                @Html.ValidationMessageFor(m => m.ProductID)
            </div>
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.Label(WebModels.WebResources.PriceListed, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.PriceListed, new { @class = "input-block-level  numberOnly", @id = "uIntTextBox" })
            @Html.ValidationMessageFor(m => m.PriceListed)
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.Label(WebModels.WebResources.Information, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(m => m.Information, new { @class = "input-block-level" })
        </div>
    </div>

    <div class="form-actions">
        <button class="k-button" name="submit" value="0" type="submit"><i class="icon-save"></i>@Resources.Common.SaveChanges</button>
        <button class="k-button destroy" type="reset">@WebModels.WebResources.Cancel</button>
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    $(document).ready(function () {
        top.winsetup("Thêm giá niêm yết", 700, 400, true);
        $("input[name='ProductID']").attr("data-val-number", "Giá niêm yết phải là số. Nhập đúng định dạng số");
    });

    function create_success() {
        top.winclose();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
    $(".datepicker").kendoDateTimePicker({
        format: "dd/MM/yyyy HH:mm",
        timeFormat: "HH:mm",
        culture: "vi-VN",
        value: new Date()
    });
    setTimeout(function () {
        var height = $('form').height();
        window.parent.$(".k-window").height(height + 30);
        $(".k-button").click(function () {
            setTimeout(function () {
                var height = $('form').height();
                window.parent.$(".k-window").height(height + 30);
            }, 100);
        });
    }, 1000);
</script>