@{
    ViewBag.Title = "Thanh toán";
}
@{
    WebContext db = new WebContext();
    var roles = Roles.GetRolesForUser();
    var userRoleIds = db.WebRoles.Where(x => roles.Contains(x.RoleName)).Select(y => y.RoleId).ToList();
    var roleWebModule = db.AccessWebModuleRoles.AsNoTracking().FirstOrDefault(x => userRoleIds.Contains(x.RoleId) && x.WebModule.URL == "/admin/payment");
}

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    var rowselected = [];
    function change_handler(e) {
        rowselected = [];
        var len = this.select().length;
        for (i = 0; i < len; i++) {
            rowselected.push(this.dataItem(this.select()[i]).ID);
        }
    }
    function binding_handler(e) {
        rowselected = [];
    }
    function changepassword_handler(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        opendlg("/admin/Supplier/changepassword/?userName=" + dataItem.ID);
    }
    function delete_handler(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        opendlg("/admin/Supplier/delete/" + dataItem.ID);
    }

    function edit_handler(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        opendlg("/admin/Supplier/edit/" + dataItem.ID);
    }



    $(document).ready(function () {
        $("#btnadd").click(function () {
            winsize(900, 700);
            if (rowselected.length > 0) {
                var lstRent = rowselected.join();
                console.log(lstRent);
                opendlg("/admin/payment/add?lstRent=" + lstRent);
            } else {
                alert("Không có khoản mục nào được chọn.");
            }
        });
        $("#btnedit").click(function () {
            if (rowselected.length > 0) {
                opendlg("/admin/Supplier/edit/" + rowselected[0]);
            } else {
                alert("Không có khoản mục nào được chọn.");
            }
        });
        $("#btndelete").click(function () {
            if (rowselected.length > 0) {
                opendlg("/admin/Supplier/deletes/" + rowselected);
            } else {
                alert("Không có khoản mục nào được chọn.");
            }
        });
    });
</script>

<div id="main">
    <div id="left"></div>
    @if (roleWebModule != null && roleWebModule.View.HasValue && !roleWebModule.View.Value)
    {
        @Html.Action("Denied", "Account", new { area = "admin" })
    }
    @if (roleWebModule != null && roleWebModule.View.HasValue && roleWebModule.View.Value)
    {
        <div class="container-fluid">
            <div class="page-header">
                <div class="pull-left">
                    <div class="breadcrumbs">
                        <h1>@ViewBag.title</h1>
                    </div>
                </div>
                <div class="pull-right">
                    <ul class="actions">
                        @if (roleWebModule != null && roleWebModule.Add.HasValue && roleWebModule.Add.Value)
                        {
                            <li>
                                <a href="#" id="btnadd" class="k-button"><i class="icon-plus"></i> <span>Thanh toán</span>  </a>
                            </li>
                        }
                        @*@if (roleWebModule != null && roleWebModule.Edit.HasValue && roleWebModule.Edit.Value)
                            {
                                <li>
                                    <a href="#" id="btnedit" class="k-button"><i class="icon-edit"></i><span> @Resources.Common.Edit </span> </a>
                                </li>
                            }
                            @if (roleWebModule != null && roleWebModule.Delete.HasValue && roleWebModule.Delete.Value)
                            {
                                <li>
                                    <a href="#" id="btndelete" class="k-button"><i class="icon-trash"></i><span> @Resources.Common.Delete </span> </a>
                                </li>
                            }*@
                    </ul>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box">
                        <div class="box-content nopadding">
                            @(Html.Kendo().Grid<Rent>()
                                .Name("grid")
                                .Columns(columns =>
                                {
                                columns.Bound(p => p.ProductName).Title("Tên máy").HtmlAttributes(new { style = "text-align:center;" });
                                columns.Bound(p => p.CompanyRent).Title("Bên mua").Width(300).HtmlAttributes(new { style = "text-align:center;" });
                                columns.Bound(p => p.Number).Title("Số lượng");
                                columns.Bound(p => p.CreatedAt).Title("Ngày mua")
                                    .Filterable(filterable =>filterable.UI(@<text>function (element) {
                                                                element.kendoDateTimePicker({
                                                                    culture: 'vi-VN'
                                                                });
                                                            }</text>))
                                        .Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:center;" });
                                    columns.Command(command =>
                                    {
                                        //if (roleWebModule != null && roleWebModule.Edit.HasValue && roleWebModule.Edit.Value)
                                        //{
                                        //    command.Custom(Resources.Common.Edit).Click("edit_handler");
                                        //}
                                    }).HtmlAttributes(new { style = "text-align:center;" }).Title("Hành động").Width(155);
                                })
                                .Pageable()
                                .Editable(ed => ed.DisplayDeleteConfirmation("Bạn có chắc chắn xoá mục này?"))
                                .Selectable(select => select.Mode(GridSelectionMode.Multiple))
                                .Sortable()
                                .Filterable()
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Batch(true)
                                    .Events(events => events.Error("error_handler"))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.ID);
                                        model.Field(p => p.ID).Editable(false);
                                    })
                                    .PageSize(10)
                                    .Read(read => read.Action("Payment_Read", "Payment"))
                                    //.Create(create => create.Action("Supplier_Create", "Supplier"))
                                    //.Update(update => update.Action("Supplier_Update", "Supplier"))
                                    .Destroy(destroy => destroy.Action("Supplier_Destroy", "Supplier"))
                                 )
                                  .Events(events => events.Change("change_handler").DataBinding("binding_handler"))
                            )
                        </div>
                    </div>
                </div>
            </div>


        </div>
    }
</div>
<style>
    .k-webkit {
        overflow: auto !important;
    }
</style>