@model IEnumerable<WebModels.WebContent>

@{
    var webmodule = (WebModule)ViewBag.WebModule;
    var moduletran = webmodule;
    var background = String.IsNullOrEmpty(webmodule.Image) ? "/content/themes/web/img/bg-title1.png" : webmodule.Image;
    var codecolor = String.IsNullOrEmpty(webmodule.CodeColor) ? "#b200b2" : webmodule.CodeColor;
    var urlcat = webmodule.URL;
    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web", id = webmodule.ID, area = "" });
    }
    TempData["Title"] = Utility.UseStringHasValue(webmodule.SeoTitle, webmodule.Title);
    TempData["Description"] = Utility.UseStringHasValue(webmodule.MetaDescription, webmodule.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(webmodule.MetaKeywords, webmodule.SeoTitle);
    TempData["URL"] = ApplicationService.Domain + urlcat;
    TempData["Cat"] = webmodule.Title;

}
<link href="~/Content/themes/web/css/global.css" rel="stylesheet" />

<h1>
    <span>
       Sản phẩm <strong class="category-product-count">
            Có @Model.Count() sản phẩm
        </strong>
    </span>
</h1>
<div class="row_category clearfix">
    <!-- Category image -->
    <div class="align_center category_image ">
        <img src="@webmodule.Image" alt="@webmodule.Title" title="@webmodule.Title" id="categoryImage" width="130">
    </div>

    <p class="cat_desc clearfix" id="category_description_short">
        @webmodule.Description
    </p>

</div>

<ul id="product_list" class="row grid">
    @foreach (var item in Model)
    {
        var url = Url.Action("Detail", "Home", new
        {
            metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
            id = item.ID,
            m_metatitle = moduletran.MetaTitle != null ? moduletran.MetaTitle : "web",
            m_id = moduletran.ID,
            area = ""
        });
        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4 num-1">
            <div class="inner_content clearfix" style="padding: 22px 10px;">
                <div class="new-box"><span class="before"></span><span class="after"></span><span class="new">Mới!</span></div>    <div class="sale-box"> </div>
                <a href="@url" class="product_img_link" title="@item.Title">
                    <img src="@item.Image" alt="@item.Title" title="@item.Title">
                </a>
                <div class="center_block">
                    <h5>
                        <a class="product_link" href="@url" title="Dolore ipsum">@item.Title</a>
                    </h5>
                </div>
                <div class="right_block" style="float: right;">
                    <a class="btn btn-default button" href="@url" title="View">Chi tiết</a>
                </div>
            </div>
        </li>
    }
</ul>


