@model WebContent
@{
    var item = Model;
    var webmodule = item.WebModule;
    var urlcat = webmodule.URL;
    var background = String.IsNullOrEmpty(webmodule.Image) ? "/content/themes/web/img/bg-title1.png" : webmodule.Image;
    var codecolor = String.IsNullOrEmpty(webmodule.CodeColor) ? "#b200b2" : webmodule.CodeColor;
    var bgColor = WEB.Areas.ContentType.Controllers.ArticleController.GetBGColor(codecolor);
    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web", id = webmodule.ID, area = "" });
    }
    var url = Url.Action("Detail", "Home", new
        {
            metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
            id = item.ID,
            m_metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web",
            m_id = webmodule.ID,
            area = ""
        });
    TempData["Title"] = Utility.UseStringHasValue(item.SeoTitle, item.Title);
    TempData["Description"] = Utility.UseStringHasValue(item.MetaDescription, item.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(item.MetaKeywords, item.SeoTitle);
    TempData["Image"] = ApplicationService.Domain + Model.Image;
    TempData["URL"] = ApplicationService.Domain + url;
    TempData["Cat"] = webmodule.Title;
}
<link href="~/Content/themes/web/css/product.css" rel="stylesheet" />
<div id="primary_block" class="clearfix">

    <div class="row">
        <div id="pb-right-column" class="col-xs-12 col-sm-4">
            <h1 class="pb-right-colum-h">@item.Title</h1>
            <!-- product img-->
            <div id="image-block">
                <img src="@item.Image" width="100%" />
            </div>

        </div>
        <!-- left infos-->
        <div id="pb-left-column" class="col-xs-12 col-sm-8">
            <h1>@item.Title</h1>
            <div id="short_description_block">
                <div id="short_description_content" class="rte align_justify">
                    <p>
                        @item.Description
                    </p>
                </div>

                <b> Mã: </b> @item.ProductInfo.Code <br />
                <b> Danh mục: </b> @webmodule.Title
                @Html.Partial("_Socical2")
            </div>
        </div>
    </div>
    <div class="row">
        <hr />
        <h4>Mô tả sản phẩm</h4>
        @Html.Raw(item.Body)
    </div>
</div>