@model WebModels.UploadFile
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("Edit", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
   <div class="control-group">
        @Html.LabelFor(m => m.Title, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Title, new { @class = "input-block-level" })
        </div>
    </div>
 
    <div class="control-group">
        @Html.LabelFor(m => m.Link, new { @class = "control-label" })
        <div class="controls">           
            <input type="file" class="upload input-block-level" name="file" />
            <label class="control-label">
                @Model.Link
            </label>
        </div>
    </div>
    
    <div class="validation-group">
        <div class="controls">
            @Html.ValidationSummary(true)
        </div>
    </div>

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">@Resources.Common.SaveChanges</button>
    </div>
    @Html.AntiForgeryToken()
}

<script type="text/javascript">
    $(document).ready(function () {
        top.winsetup("@Html.Raw(Resources.Common.EditItem)", 700, 450, true);
    });
    function edit_success() {
        top.winclose();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }

</script>
