@model List<WebModels.WebSlide>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("Deletes", "WebSlide", FormMethod.Post, new { @class = "form-horizontal fix" }))
{

    <div class="alert alert-info">
        @Html.Raw(Resources.Common.DeleteSureItems):
        <br />
        @foreach (var item in Model)
        {
            <br /> <strong> @item.Title </strong>
            <br /><span>Nội dung:</span><br />
            <span>@Html.Raw(item.Description)</span>
            @Html.Hidden("[" + Model.IndexOf(item) + "].ID", @item.ID)
            @Html.Hidden("[" + Model.IndexOf(item) + "].Title", @item.Title)
            @Html.Hidden("[" + Model.IndexOf(item) + "].Description", @item.Description)
        }
    </div>
    <div class="validation-group">
        @Html.ValidationSummary(true)
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">@Resources.Common.Delete</button>
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    $(document).ready(function () {
        var h = 130 + @(Model.Count *25) +0; if (h > 500) h = 500; top.winsetup("@Html.Raw(Resources.Common.DeleteItem) ", 500, h, true);
    });
    function deletes_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
</script>

