@model WebModels.WebContact
@{
    var webmodule = ViewBag.WebModule as WebModule;
}
<script>
    function OnSuccessYKienBanDoc(data, status, xhr) {
        if (data.Success) {
            alert('Bạn đã gửi góp ý thành công. Cảm ơn bạn đã gửi ý kiến đóng góp giúp chúng tôi phục vụ bạn đọc tốt hơn!');
            $('#frmYKienBanDoc')[0].reset();
        } else {
            alert(data.Error);
        }
    }

</script>

<div class="form-ykien">

    <div class="title-box">
        Ý kiến của bạn
    </div>

    @using (Ajax.BeginForm("_PubYKienCuaBan", new { area = "ContentType" },
                                new AjaxOptions
                                {
                                    OnSuccess = "OnSuccessYKienBanDoc",
                                    OnFailure = "OnFailure"
                                }, new { id = "frmYKienBanDoc" }))
    {

        <input type="hidden" name="Title" value="Ý kiến bạn đọc" />

        <div class="row">
            <div class="col-md-6">
                <div class="input-field">
                    @Html.TextAreaFor(m => m.Body, new { @placeholder = "Nội dung", @class = "form-control", @rows = "5" })
                    @Html.ValidationMessageFor(m => m.Body)
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    @Html.TextBoxFor(m => m.FullName, new { @placeholder = "Họ và tên", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FullName)
                </div>

                <div class="input-field">
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                <div class="pull-right">
                    <button type="submit" class="btn btn-primary color-green">Gửi ý kiến</button>
                    <button type="button" onclick="ResetForm('frmYKienBanDoc')" class="btn btn-danger">Hủy</button>
                </div>
                <input type="hidden" name="webContentTitle" value="@ViewBag.WebContentTitle" />
            </div>
        </div>

        @Html.AntiForgeryToken()
    }
</div>
