@model WebModels.WebContact
@{
    var webmodule = ViewBag.WebModule;
}

<script>
    function OnSuccessLienHe(data, status, xhr) {
        if (data.Success) {
            alert('Cảm ơn bạn đã liên hệ với chúng tôi!');
            $('#frmLienHe')[0].reset();
        } else {
            alert(data.Error);
        }
    }

</script>
<div class="row margin-top-30">
    <div class="col-md-8">

        @Html.Raw(HttpUtility.HtmlDecode(webmodule.Body))


        <div class="form-ykien">

            <div class="title-box">
                Gửi liên hệ
            </div>

            @using (Ajax.BeginForm("_PubLienHeToaSoan", new { area = "ContentType" },
                                new AjaxOptions
                                {
                                    OnSuccess = "OnSuccessLienHe",
                                    OnFailure = "OnFailure"
                                }, new { id = "frmLienHe" }))
            {

                <input type="hidden" name="Title" value="Liên hệ tòa soạn" />

                <div class="row">

                    <div class="col-md-6">
                        <div class="input-field">
                            @Html.TextBoxFor(m => m.FullName, new { @placeholder = "Họ và tên", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FullName)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-field">
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="input-field">
                            @Html.TextAreaFor(m => m.Body, new { @placeholder = "Nội dung liên hệ", @class = "form-control", @rows = "5" })
                            @Html.ValidationMessageFor(m => m.Body)
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary color-green">Gửi liên hệ</button>
                        <button type="button" onclick="ResetForm('frmLienHe')" class="btn btn-danger">Hủy</button>
                    </div>
                </div>

                @Html.AntiForgeryToken()
            }
        </div>

    </div>
    <div class="col-md-4">

        @Html.Action("_BoxDocNhieu", "Article", new { area = "ContentType" })

        @Html.Action("_Adv", "Advertisement", new { area = "", position = "_adv_chi_tiet" })
    </div>
</div>

