@model WebModels.WebContact

@{
    var webmodule = ViewBag.WebModule;
}
<script>
    function OnFailure() {
        alert("Fail");
    }
</script>


<div class="row margin-top-30">
    <div class="col-md-8">
        @Html.Raw(HttpUtility.HtmlDecode(webmodule.Body))
        <div class="form-ykien">
            <div class="title-box margin-top-20">
                Cộng tác viên gửi bài
                <p style="text-transform: none;    margin-bottom: 0;">(Tòa soạn sẽ liên hệ qua email, số điện thoại... sau khi nhận đc tin/bài)</p>
            </div>
            <div class="text-center ghichu">
                <div><i class="color-red">Bạn cần phải đăng nhập để gửi bài viết</i></div>
                <div><b> Bạn hãy điền đầy đủ các thông tin dưới đây</b></div>
                <div> <i>(*) là thông tin yêu cầu nhập</i></div>
            </div>

            @using (Html.BeginForm("_PubThuMoiNghienCuu", "Contact", FormMethod.Post,
                new { enctype = "multipart/form-data", id = "frmThuMoiNghienCuu" }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-field">
                            @Html.TextBoxFor(m => m.FullName, new { @placeholder = "Họ tên người gửi (*)", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-field">
                            @Html.TextBoxFor(m => m.Address, new { @placeholder = "Địa chỉ liên hệ (*)", @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-field">
                            @Html.TextBoxFor(m => m.Mobile, new { @placeholder = "Điện thoại (*)", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-field">
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email (*)", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-field">
                            @Html.TextBoxFor(m => m.Title, new { @placeholder = "Tiêu đề bài viết (*)", @class = "form-control", @rows = "5" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-field">
                            @Html.DropDownList("WebModuleID", new SelectList(ViewBag.lstChuyenMuc, "ID", "Title"),
                           new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-field">
                            <input class="form-control" value="@String.Format(" {0:d/M/yyyy HH:mm:ss}", DateTime.Now)" disabled />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-field">
                            @Html.TextAreaFor(m => m.Body, new { @placeholder = "Yêu cầu khác", @class = "form-control", @rows = "5" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div>
                            <input placeholder="Chọn tệp đính kèm..." id="filename" class="form-control" readonly />
                            <label class="file">
                                <input type="file" id="fileInput" name="files" aria-label="Tệp đính kèm(doc, docx)" accept=".doc,.docx">
                                <span class="file-custom"></span>
                            </label>
                        </div>
                        <br />

                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success">0%</div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center" style="margin-top: 20px">
                        <button type="submit" class="btn btn-primary color-green">Đăng ký</button>
                        <button type="button" onclick="ResetForm('frmLienHe')" class="btn btn-danger">Hủy</button>
                    </div>
                </div>

                @Html.AntiForgeryToken()
            }
        </div>

    </div>
    <div class="col-md-4">

        @Html.Action("_BoxDocNhieu", "Article", new { area = "ContentType" })

        @Html.Action("_Adv", "Advertisement", new { area = "", position = "_adv_chi_tiet" })
    </div>
</div>
<script src="~/Scripts/jquery.validate.js"></script>
@*<link href="~/Content/themes/web/bootstrap/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>*@
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
    ////$(document).ready(function () {
       
    ////});

    (function () {
        validateForm();

        document.getElementById('fileInput').onchange = function () {
            if (this.value) {
                var fullPath = this.value;

                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                }

                $("#filename").val(filename);

            }
        };

        var bar = $('.progress-bar');
        var percent = $('.progress-bar');
        var status = $('#status');

        $('form').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            success: function () {
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
                alert('Cảm ơn bạn đã đăng ký!');
                $('#frmThuMoiNghienCuu')[0].reset();

                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            }
        });

        function validateForm() {
            $('#frmThuMoiNghienCuu').validate({
                rules: {
                    Title: {
                        required: true
                    },
                    FullName: {
                        required: true
                    },
                    Address: {
                        required: true
                    },
                    Mobile: {
                        required: true
                    },
                    Email: {
                        required: true
                    }
                },
                success: function (element) {
                    element.addClass('valid')
                        .closest('.control-group').removeClass('error').addClass('success');
                }
            });
        }

    })();
</script>