@model WebModels.RegisterModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("Add", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{
    <div class="validation-group">
        <div class="controls">
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.UserProfile.StaffCode, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.UserProfile.StaffCode, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.UserProfile.StaffCode)
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.UserName, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.Password, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.Label(WebModels.AccountResources.Role, new { @class = "control-label" })
        <div class="controls">
            <div style="width:99%;">
                @(Html.Kendo().MultiSelect()
                          .Name("roles")
                          .DataTextField("RoleName")
                          .DataValueField("RoleName")
                          .Placeholder("...")
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetRoles", "Role");
                              })
                              .ServerFiltering(false);
                          })
                )
            </div>
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.UserProfile.FullName, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.UserProfile.FullName, new { @class = "input-block-level" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.UserProfile.Email, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.UserProfile.Email, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.UserProfile.Email)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.UserProfile.Mobile, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.UserProfile.Mobile, new { @class = "input-block-level numberOnly", @id = "intPhoneNumber" })
            @Html.ValidationMessageFor(m => m.UserProfile.Mobile)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.UserProfile.Avatar, new { @class = "control-label" })
        <div class="controls">
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-new thumbnail" style="width: 120px; height: 100px;">
                    <img src="@ApplicationService.NoImage" />@Html.HiddenFor(m => m.UserProfile.Avatar)
                </div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 100px; line-height: 20px;"></div>
                <div>
                    <span class="btn btn-file"><span class="fileupload-new">Tải ảnh</span><span class="fileupload-exists">Tải ảnh</span><input type="file" name='image' /></span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Hủy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.UserProfile.IsActive, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(
                           m => m.UserProfile.IsActive,
                             new SelectList(new List<SelectListItem>
                        {
                      new SelectListItem{ Text="Hiện", Value = "true" },
                      //new SelectListItem{ Text="Ẩn", Value = "false" },

                        }, "Value", "Text")
         )
        </div>
    </div>
    <div class="form-actions">
        <button class="k-button" type="submit">@Resources.Common.SaveChanges</button>
        <button class="k-button destroy" type="reset">@WebModels.WebResources.Cancel</button>
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    $(document).ready(function () {
        top.winsetup("Thêm người dùng", 700, 550, true);
    });

    function create_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
</script>

<style>
    .k-webkit {
        overflow: auto !important;
    }
</style>