@model WebModels.LocalPasswordModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("ChangePassword", "User", new { userName = ViewBag.UserName }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{
    <div class="control-group">
        @Html.LabelFor(m => m.NewPassword, new { @for = "pw", @class = "control-label right" })
        <div class="controls">
            @Html.PasswordFor(m => m.NewPassword, new { @for = "pw", @class = "input-block-level" })
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @for = "pw", @class = "control-label right" })
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @for = "pw", @class = "input-block-level" })
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="validation-group">
        <div class="controls">
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="form-actions">
        <button class="k-button" type="submit">@Resources.Common.SaveChanges</button>
        <button class="k-button destroy" type="reset">@WebModels.WebResources.Cancel</button>
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    $(document).ready(function () {
        top.winsetup("@Html.Raw(Resources.Common.ChangePassword)", 500, 180, true);
    });
    function change_success() {
        top.$("#window").data("kendoWindow").close();
    }
</script>
