@model IEnumerable<WebModels.WebContent>
@{
    var webmodule = (WebModule)ViewBag.WebModule;
    var urlcat = webmodule.URL;
    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web", id = webmodule.ID, area = "" });
    }
}

<style>
    .slide2 {
        width: 380px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div class="col-md-6">
    <div class="title-box">
        <a href="@urlcat" title="@webmodule.Title">  @webmodule.Title </a> 
    </div>
    <div class="slide-tva margin-top-20">
        <div class="sliderThuVienAnh">
            @foreach (var item in Model)
            {
                var img = item.Image != null ? item.Image : "/images/no-image.jpg";

                var url = Url.Action("Detail", "Home", new
                {
                    metatitle = item.MetaTitle != null ? item.MetaTitle : "tapchimoitruong",
                    id = item.ID,
                    m_metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "tapchimoitruong",
                    m_id = webmodule.ID,
                    area = ""
                });
                <div class="slide2"><img src="@img" alt="@item.Title" height="214"></div>
            }
        </div>
        <div class="outside pull-right margin-top-10">
            <span id="slider-tva-prev"></span>
            <span id="slider-tva-next"></span>
        </div>
    </div>
</div>