@model IEnumerable<WebModels.WebContent>
@{
    var webmodule = (WebModule)ViewBag.WebModule;
}

@foreach (var item in Model)
{
    var img = item.Image != null ? item.Image : "/images/no-image.jpg";

    var url = Url.Action("Detail", "Home", new
    {
        metatitle = item.MetaTitle != null ? item.MetaTitle : "tapchimoitruong",
        id = item.ID,
        m_metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "tapchimoitruong",
        m_id = webmodule.ID,
        area = ""
    });

    <div class="single-blog-post d-flex">
        <div class="post-thumbnail">
            <img src="@img" alt="@item.Title" />
        </div>
        <div class="post-content">
            <a href="@url" title="@item.Title" class="post-title">
                @Html.RawSubString(item.Title, 105)
            </a>
        </div>
    </div>
}