
<div class="box box-color darkblue  box-small box-bordered">
    <div class="box-title">
        <h3>
            <i class="icon-bar-chart"></i>
     Sản phẩm mới
        </h3>
        <div class="actions"> 
            <a href="#" title="@Resources.Common.Edit" class="btn btn-mini " id="_heighlight_edit"><i class="icon-edit"></i></a>
            <a href="#" class="btn btn-mini content-refresh" id="_highlight_refresh"><i class="icon-refresh"></i></a>
            <a href="#" class="btn btn-mini content-slideUp" id=""><i class="icon-angle-down"></i></a>
        </div>
    </div>
    <div class="box-content" >

        <table class="table table-hover table-nomargin">
            <tbody id="tbody_highlight">       
            </tbody>
            </table>

    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#_heighlight_edit").click(function () {
                w.data("kendoWindow").setOptions({ height: 550,width:950 });
                w.data("kendoWindow").refresh({
                    url: "@Url.Action("EditHighlight")",
                }).title('@Html.Raw(Resources.Common.EditItem)').center().open();
        });
        $("#_highlight_refresh").click(function () {
            load_hightlight();
        });
        load_hightlight();

    });
    function load_hightlight() {
        var tempHtml = "";
        tempHtml += "<tr>";
        tempHtml += "     <td>";
        tempHtml += "         <a target=\"_blank\" href=\"/$wm_metatitle-$wm_id/$metatitle-$id\" >$title</a>";
        tempHtml += "        </td>";
        tempHtml += " <td><a href=\"javascript:del_hightlight($id)\" class=\"btn\" rel=\"tooltip\" title=\"\" data-original-title=\"Delete\"><i class=\"icon-remove\"></i></a></td>";
        tempHtml += "  </tr>";
        var html = "";
        $.getJSON('@Url.Action("_Highlight_Read", new {  })').done(function (data) {
            var jdata = $.parseJSON(data.JsonArray);
            $.each(jdata, function (i, jobject) {
                var temp = tempHtml;
                temp = temp.replace("$title", jobject.Title).replace("$wm_metatitle", jobject.WebModule_MetaTitle).replace("$wm_id", jobject.WebModuleID).replace("$metatitle", jobject.MetaTitle).replace("$id", jobject.ID).replace("$id", jobject.ID);

                html += temp;
            });
            $('#tbody_highlight').html(html);
        });
    }

    function del_hightlight(id) { 
        $.ajax({
            url: "@Url.Action("Highlight_Delete")",
            type: "post",
            data: { id: id },
        dataType: "json",
        success: function (data) {
            if (data.success) { 
                load_hightlight();
            } else {
                alert(data.error);
            }
        }
    });
    }
</script>