@model IEnumerable<WebModels.WebContent>
@{

}

<!-- MODULE Home Featured Products -->
<div id="featured-products_block_center" class="main_page_products block">
    <h4><span>Sản phẩm mới</span></h4>
    <ul class="row">
        @foreach (var item in Model)
        {
            var moduletran = item.WebModule;
            var img = item.Image != null ? item.Image : "/images/no-image.jpg";
            var url = Url.Action("Detail", "Home", new
            {
                metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
                id = item.ID,
                m_metatitle = moduletran.MetaTitle != null ? moduletran.MetaTitle : "web",
                m_id = moduletran.ID,
                area = ""
            });
            <li class="ajax_block_product col-xs-6 col-sm-6 col-md-4">
                <div class="inner_content clearfix">
                    <div class="new-box"><span class="before"></span><span class="after"></span><span class="new">Mới</span></div>
                    <div class="product_image">
                        <a href="@url" title="@item.Title" class="product_image">
                            <img src="@item.Image" alt="@item.Title" title="@item.Title">
                        </a>
                    </div>
                    <!--p class="product_desc"> Welcome to our Wood Finishes Store. Our goods will help you...</p-->
                    <div class="product_content">
                        <div class="inner_content1">
                            <h5><a class="product_link" href="@url" title="@item.Title">@item.Title</a></h5>
                        </div>
                        <a class="button btn btn-default view" href="@url" title="Chi tiết"><i class="icon-info-sign"></i></a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<!-- /MODULE Home Featured Products -->