@model IEnumerable<WebModels.WebContent>
@{
    var module = (WebModule)ViewBag.Modules;
    var urlModule = Url.Action("Index", "Home", new
    {
        metatitle = module.MetaTitle != null ? module.MetaTitle : "web",
        id = module.ID,
        area = ""
    });
}
<div class="col-md-12">
    <div class="title-box-home">
        <p class="title-tour-home pull-left">@module.Title</p>
        <a class="padding-top-30 btn btn-default pull-right" href="@urlModule" title="@module.Title">
            Xem tất cả
        </a>
        <div class="clearfix"></div>
    </div>
    @foreach (var item in Model)
    {
        var moduletran = item.WebModule;
        var img = item.Image != null ? item.Image : "/images/no-image.jpg";
        var url = Url.Action("Detail", "Home", new
        {
            metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
            id = item.ID,
            m_metatitle = moduletran.MetaTitle != null ? moduletran.MetaTitle : "web",
            m_id = moduletran.ID,
            area = ""
        });
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="out-item offer-wrap  offer">
                <a href="@url" title="@item.Title">
                    <img src="@img" alt="@item.Title" title="@item.Title" class="img-home">
                </a>

                <span class="label"><img src="~/Content/themes/web/images/icon-news.png"></span>
                <a href="@url" title="@item.Title">
                    <h2>
                        @Html.RawSubString(item.Title, 60)
                    </h2>
                </a>

                @*<p class="start text-center"> Khởi hành: @item.ProductInfo.StartDate </p>*@
                <hr class="style-three" />
                <div class="desc">
                    @if (!string.IsNullOrWhiteSpace(item.Description))
                    {
                        @Html.RawSubString(item.Description, 140)
                    }
                </div>

                @if (item.ProductInfo.Price > 0)
                {
                    <p class="price">
                        <span class="price-ctact">
                            Giá:
                        </span>
                        @ApplicationService.ToCurrencyString(item.ProductInfo.Price)
                    </p>
                }
                else
                {
                    <p class="price-text">
                        <span class="price-ctact">
                            Giá:
                        </span>
                        Liên hệ
                    </p>
                }
                @*<p class="price"> @ApplicationService.ToCurrencyString(item.ProductInfo.Price) </p>*@
            </div>
        </div>
    }

</div>