@model IEnumerable<WebModule>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            @{
                var root = from x in Model where x.ParentID == null select x;
            }
            @foreach (var node in root)
            {
                
                <li>
                    @if (string.IsNullOrEmpty(node.UID) || string.IsNullOrWhiteSpace(node.UID))
                    {
                        if (string.IsNullOrEmpty(node.URL) || string.IsNullOrWhiteSpace(node.URL))
                        {
                            <a href="/">@node.Title</a>
                        }
                        else
                        {
                            <a href="@node.URL" target="@node.Target">@node.Title</a>
                        }
                    }
                    else
                    {
                        if (string.IsNullOrEmpty(node.URL) || string.IsNullOrWhiteSpace(node.URL))
                        {
                            @Html.ActionLink(@node.Title, "Index", "Home", new { metatitle = node.MetaTitle != null ? node.MetaTitle : "web", id = node.ID }, new { title = node.Title })
                        }
                        else
                        {
                            <a href="@node.URL" target="@node.Target">@node.Title</a>
                        }
                    }

                    @{
                        var sub = from x in Model where x.ParentID == node.ID select x;
                    }
                    @if (sub.Any())
                    {
                        @CreateMenu(sub)
                    }
                </li>
            }
        </ul>
    </div>

    @helper CreateMenu(IEnumerable<WebModels.WebModule> nodes)
    {
        <ul>
            @foreach (var item in nodes)
            {
                var node = item;
                <li>
                    @if (node.UID != null)
                    {
                        if (string.IsNullOrEmpty(node.URL) || string.IsNullOrWhiteSpace(node.URL))
                        {
                            @Html.ActionLink(@node.Title, "Index", "Home", new { metatitle = node.MetaTitle != null ? node.MetaTitle : "web", id = node.ID }, new { title = node.Title })
                        }
                        else
                        {
                            <a href="@node.URL" target="@node.Target">@node.Title</a>
                        }
                    }
                    else
                    {
                        if (string.IsNullOrEmpty(node.URL) || string.IsNullOrWhiteSpace(node.URL))
                        {
                            <a href="/">@node.Title</a>
                        }
                        else
                        {
                            <a href="@node.URL" target="@node.Target">@node.Title</a>
                        }
                    }
                    @{
                        var subsub = from x in Model where x.ParentID == node.ID select x;
                    }
                    @if (subsub.Any())
                    {
                        @CreateMenu(subsub)
                    }
                </li>
            }
        </ul>
    }






</body>

</html>
