@model WebModels.AdminSite
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("Delete", "AdminSite",  FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{   
    <div class="alert alert-info"> 
		@Html.Raw(Resources.Common.DeleteSureItem):  <strong>@Html.DisplayFor(m => m.Title )</strong>  ?
	</div>
 
    <div class="validation-group"> 
        @Html.ValidationSummary(true) 
    </div>

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">@Resources.Common.Delete</button> 
    </div>
    @Html.HiddenFor(m => m.Title )
    @Html.HiddenFor(m => m.ID )        
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    $(document).ready(function () {
        top.winsetup("@Html.Raw(Resources.Common.AddItem)", 500, 140, true);
    });
    function delete_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
        top.treeview.dataSource.read();
    }
</script>
