@model WebModels.AdminSite
@{
   
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
@using (Html.BeginForm("Edit", "AdminSite", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{  
    
     
                     <div class="control-group">
                         @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                         <div class="controls">
                             @Html.TextBoxFor(m => m.Title, new { @class = "input-block-level" })
                             @Html.ValidationMessageFor(m => m.Title)
                         </div>
                     </div>
                     <div class="control-group">
                         @Html.LabelFor(m => m.ParentID, new { @class = "control-label" })
                         <div class="controls">
                             @Html.HiddenFor(m => m.ParentID, new { @id = "parent" })
                             <select id="select_parent_0" class="disp-none select-parent"> </select>
                             <select id="select_parent_1" class="disp-none select-parent"></select>
                             <select id="select_parent_2" class="disp-none select-parent"></select>
                             <select id="select_parent_3" class="disp-none select-parent"></select>
                             <select id="select_parent_4" class="disp-none select-parent"></select>
                             <script>
                                    function loaddatafor(obj, id) {
                                        $.ajax({
                                            type: 'GET', url: '/admin/adminsite/getbyparent/' + id,
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json", async: false,
                                            success: function (data) {
                                                var html_temp = "<option value='$id'>$title</option>";
                                                var len = data.length;
                                                if (len > 0) {
                                                    var html = "<option value=''>Chọn danh mục</option>";
                                                    for (var i = 0; i < len; i++) {
                                                        html += html_temp.replace("$id", data[i].ID).replace("$title", data[i].Title);
                                                    }
                                                    $(obj).html(html); $(obj).show();
                                                }
                                            },
                                            error: function (data) { alert("Dịch vụ dữ liệu danh mục tin tức bị lỗi. Khởi động lại trình duyệt.") }
                                        });
                                    }
                                    $(document).ready(function () {
                                        var init_id = (@Model.ID+0);
                                        var data = [];
                                        $.ajax({
                                            type: 'GET', url: '/admin/adminsite/getparentid/' + init_id,
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            async: false,
                                            success: function (d) {
                                                for (i = 0; i < d.length; i++) {
                                                    data.push(d[i]);
                                                }
                                            },
                                            error: function (d) { }
                                        });
                                        loaddatafor($('#select_parent_0'), null);
                                        var dlen = data.length;
                                        if (dlen > 0) {
                                            for (i = 0; i < dlen; i++) {
                                                $('#select_parent_' + i + ' option[value="' + data[dlen - i - 1] + '"]').attr("selected", "selected");
                                                loaddatafor($('#select_parent_' + (i + 1)), data[dlen - i - 1]);
                                            }
                                        }
                                        $('#select_parent_' + (dlen) + ' option[value="' + init_id + '"]').remove();
                                        var dataparents = $('.select-parent');
                                        for (var s = 0; s < dataparents.length; s++) {
                                            $('#select_parent_' + s).change({ index: s }, function (event) {
                                                var obj = $(this);
                                                var id = $(this).val();
                                                for (i = event.data.index + 1; i < dataparents.length; i++) {
                                                    dataparents.eq(i).hide();
                                                }
                                                if (id.length > 0) {
                                                    $('#parent').val(id);
                                                    loaddatafor($(obj).next(), id);
                                                } else {
                                                    if (event.data.index > 0) {
                                                        $('#parent').val(dataparents.eq(event.data.index - 1).val());
                                                    } else {
                                                        $('#parent').val("");
                                                    }
                                                }
                                            });
                                        }

                                    });
                             </script>
                         </div>
                     </div>

                     <div class="control-group">
                         @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                         <div class="controls">
                             @Html.TextAreaFor(m => m.Description, new { @class = "input-block-level" })
                         </div>
                     </div>
                     <div class="control-group">
                         @Html.LabelFor(m => m.Url, new { @class = "control-label" })
                         <div class="controls">
                             @Html.TextBoxFor(m => m.Url, new { @class = "input-block-level" })
                         </div>
                     </div>
                     <div class="control-group">
                         @Html.LabelFor(m => m.AccessKey, new { @class = "control-label" })
                         <div class="controls">
                             @(Html.Kendo().ComboBoxFor(m => m.AccessKey)
                              .Filter("contains")
                              .Placeholder(Resources.Common.Choose)
                              .DataTextField("Text")
                              .DataValueField("Value")
                              .BindTo((IEnumerable<SelectListItem>)ViewBag.ListItems)
                             )
                         </div>
                     </div>
                     <div class="control-group">
                         @Html.LabelFor(m => m.Order, new { @class = "control-label" })
                         <div class="controls">
                             @(Html.Kendo().NumericTextBoxFor<int>(m => m.Order)
                                .Min(0)
                                .Max(100).Format("#")
                             )
                         </div>
                     </div>
                     <div class="validation-group">
                         <div class="controls">
                             @Html.ValidationSummary(true)
                         </div>
                     </div>
                 
    
    
     

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">@Resources.Common.SaveChanges</button> 
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    $(document).ready(function () {
        top.winsetup("@Html.Raw(Resources.Common.EditItem)", 800, 450, true);
    });
    function edit_success() {
        top.$("#window").data("kendoWindow").close(); 
        top.$("#grid").data("kendoGrid").dataSource.read();
        top.treeview.dataSource.read();
    }
</script>
