@model Rent

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
@using (Html.BeginForm("Add", "Rent", new { }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{
    <div class="validation-group">
        <div class="controls">
            <p class="supplier-validate">@Html.ValidationSummary(true)</p>
        </div>
    </div>
    <div class="control-group">
        @Html.Label("Mã máy", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.ProductCode, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.ProductCode)
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.Label("Tên máy móc", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.ProductName, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.ProductName)
        </div>
        <span class="form-obligatory">*</span>
    </div>
    <div class="control-group">
        @Html.Label("Công ty thuê", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.CompanyRent, new { @class = "input-block-level" })
        </div>
    </div>
    <div class="control-group">
        @Html.Label("Thời gian thuê (Tháng)", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.TimeRent, new { @class = "input-block-level" })
        </div>
    </div>
    <div class="control-group">
        @Html.Label("Giá (đồng)", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Price, new { @class = "input-block-level" })
        </div>
    </div>
    <div class="form-actions">
        <button class="k-button" name="submit" value="0" type="submit"><i class="icon-save"></i>@Resources.Common.SaveChanges</button>
        <button class="k-button destroy" type="reset">@WebModels.WebResources.Cancel</button>
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    top.winsetup("Cho thuê", 600, 320, true);

    function create_success() {
        top.winclose();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
    setTimeout(function () {
        var height = $('form').height();
        window.parent.$(".k-window").height(height + 30);
        $(".k-button").click(function () {
            setTimeout(function () {
                var height = $('form').height();
                window.parent.$(".k-window").height(height + 30);
            }, 100);
        });
    }, 1000);
</script>
