@model  WebModels.Destination
@using WebModels
@using WEB.Models
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
@using (Html.BeginForm("Add", "Destination", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{

    <div class="control-group">
        <label class="control-label"> Vùng </label>
        <div class="controls">
            @(Html.Kendo().DropDownListFor(m => m.WebModuleID)
                .DataTextField("Title") //Specifies which property of the Product to be used by the dropdownlist as a text.
                .DataValueField("ID") //Specifies which property of the Product to be used by the dropdownlist as a value.
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetCountries", "Destination"); //Set the Action and Controller name
                    })
                    .ServerFiltering(true); //If true the DataSource will not filter the data on the client.
                })
           
                .SelectedIndex(0) //Select first item.
            )
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Title, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Title, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
     <div class="control-group">
        @Html.LabelFor(m => m.IsoCode, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.IsoCode, new { @class = "input-block-level" })
        </div>
    </div>
     <div class="control-group">
                    @Html.LabelFor(m => m.Order, new { @class = "control-label" })
                    <div class="controls">
                        @(Html.Kendo().NumericTextBoxFor<int>(m => m.Order)
                                                        .Min(0)
                                                        .Max(100)
                                                        .Value(1).Format("#")
                        )
                    </div>
                </div>
     <div class="row-fluid control-group">
                        <div style="width:99%;">
                            <div class="box">
                                <div class="box-title">
                                    <h3><i class="icon-th"></i>  @Html.DisplayNameFor(m => m.Body)</h3>
                                </div>
                                <div class="box-content nopadding">
                                    @Html.TextAreaFor(m => m.Body, new { @id = "ckeditor", @style = "height:550px;" })
                                    <script>
                                        var editor = CKEDITOR.replace('ckeditor', {
                                            customConfig: '/content/ckeditor/config.js',
                                            filebrowserBrowseUrl: '/admin/upload/file?uid=@ViewBag.UID',
                                            filebrowserImageBrowseUrl: '/admin/upload/image?uid=@ViewBag.UID',
                                            filebrowserImageUploadUrl: '/admin/upload/imageck?uid=@ViewBag.UID',
                                            filebrowserFlashBrowseUrl: '/admin/upload/flash?uid=@ViewBag.UID',
                                            filebrowserFlashUploadUrl: '/admin/upload/flashck?uid=@ViewBag.UID',
                                            height: '400px'
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>


    <div class="validation-group">
        <div class="controls">
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">@Resources.Common.SaveChanges</button>
    </div>
    @Html.AntiForgeryToken()
}
<script src="/Content/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    function create_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
</script>
