@{
    ViewBag.Title = " ";
}
<div id="main">
    <div class="container-fluid">
        <div class="page-header">
            <div class="pull-left">
                <div class="breadcrumbs"></div>
            </div>
            <div class="pull-right"> 
                <ul class="actions">
                    <li>
						<a href="#" id="btnadd" class="btn btn-mini  btn-blue btn-inverse"><i class="icon-plus"></i> @Resources.Common.Add  </a>
					</li>
                    <li>
						<a href="#" id="btnedit" class="btn btn-mini   btn-blue btn-inverse"><i class="icon-edit"></i> @Resources.Common.Edit  </a>
					</li>
					<li >
						<a href="#" id="btndelete" class="btn btn-mini  btn-red btn-inverse"><i class="icon-trash"></i> @Resources.Common.Delete  </a>
					</li> 
				</ul> 
            </div>
        </div>

         
         <div class="row-fluid">
			<div class="span12">
				<div class="box"> 
					<div class="box-content nopadding">  
                        @(Html.Kendo().Grid<WebModels.Country>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.ID).Title(Resources.Common.ID).Width(50);
                                columns.Bound(p => p.Title).Title(Resources.Common.Title);
                                columns.Bound(p => p.IsoCode).Title(Resources.Common.IsoCode); 
                                columns.Command(command =>
                                {
                                    command.Custom(Resources.Common.Edit).Click("edit_handler");
                                    command.Custom(Resources.Common.Delete).Click("delete_handler");
                                }).Width(160).HtmlAttributes(new { style = "text-align:center;" });
                            })  
                            .Selectable(select => select.Mode(Kendo.Mvc.UI.GridSelectionMode.Multiple))
                            .Sortable() 
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model => model.Id(p => p.ID))   
                                .Read(read => read.Action("Country_Read", "Country"))
                             )
                             .Events(events => events.Change("change_handler").DataBinding("binding_handler"))
                        )
					</div>
				</div>
			</div>
		</div>

    </div>
</div>

  
<div id="window" style="overflow: hidden;"></div> 
<script type="text/javascript">
    var w = $("#window").kendoWindow({
        width: 600 + "px", height: 300 + "px", modal: true, draggable: true,
        resizable: true,
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,iframe: true,
        pinned: false
    });
    w.parent().css("position", "fixed");  
    function delete_handler(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        w.data("kendoWindow").setOptions({ height: 160 });
        w.data("kendoWindow").refresh({
            url: "/admin/country/delete/" + dataItem.ID,
        }).title(unescape('@Html.Raw(Resources.Common.DeleteItem)')).center().open(); 
    }
    function edit_handler(e) {
        e.preventDefault(); 
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        w.data("kendoWindow").setOptions({ height: 300 });
        w.data("kendoWindow").refresh({
            url: "/admin/country/edit/"+dataItem.ID,
        }).title('@Html.Raw(Resources.Common.EditItem)').center().open();
    } 
    var rowselected = [];
    function change_handler(e) {
        rowselected = [];
        var len = this.select().length;
        for (i = 0; i < len; i++) {
            rowselected.push(this.dataItem(this.select()[i]).ID);
        }
    }
    function binding_handler(e) {
        rowselected = []; 
    }
    $(document).ready(function () {
        $("#btnadd").click(function () {
            w.data("kendoWindow").setOptions({ height: 300 });
            w.data("kendoWindow").refresh({
                url: "/admin/country/add/"
            }).title("@Html.Raw(Resources.Common.AddItem)").center().open(); 
        });

         $("#btnedit").click(function () {
             if (rowselected.length > 0) {
                 w.data("kendoWindow").setOptions({ height: 300 });
                 w.data("kendoWindow").refresh({
                     url: "/admin/country/edit/" + rowselected[0],
                 }).title('@Html.Raw(Resources.Common.EditItem)').center().open();
             } else {
                 alert("Không có khoản mục nào được chọn.");
             } 
         });

         $("#btndelete").click(function () {
             if (rowselected.length > 0) {
                 w.data("kendoWindow").setOptions({ height: 300 });
                 w.data("kendoWindow").refresh({
                     url: "/admin/country/deletes/" + rowselected,
                 }).title('@Html.Raw(Resources.Common.DeleteItem)').center().open();
             } else {
                 alert("Không có khoản mục nào được chọn.");
             }
         });
        $("#btnrefresh").click(function () {
            $("#grid").data("kendoGrid").dataSource.read();
        });
     });
</script>
