@model WebModels.WebModule
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("Delete", "WebModule", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{   
    <div class="alert alert-info"> 
		@Html.Raw(Resources.Common.DeleteSureItem):  <strong>@Html.DisplayFor(m => m.Title )</strong> (@Html.DisplayFor(m => m.Description )) ?
	</div>
 
    <div class="validation-group"> 
        @Html.ValidationSummary(true) 
    </div>

    <div style="text-align:center;">
        <button class="btn btn-primary" type="submit">@Resources.Common.Delete</button> 
    </div>
    @Html.HiddenFor(m => m.Title )
    @Html.HiddenFor(m => m.ID )
    @Html.HiddenFor(m => m.Description )
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    top.winsetup("@Html.Raw(Resources.Common.AddItem)", 900, 150, true);
    function delete_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
        top.treeview.dataSource.read();
    }
</script>
