@model RevenueSalesViewModel
@{
    WebContext db = new WebContext();
    var roles = Roles.GetRolesForUser();
    var userRoleIds = db.WebRoles.Where(x => roles.Contains(x.RoleName)).Select(y => y.RoleId);
    var roleWebModule = db.AccessWebModuleRoles.AsNoTracking().FirstOrDefault(x => userRoleIds.Contains(x.RoleId) && x.WebModule.URL == "/admin/RevenueSales");
    var checkEmployee = WEB.WebHelpers.UserInfoHelper.GetUserData().StationID.HasValue;
    var totalWeigh = ViewBag.totalWeigh;
    var totalCostPrice = ViewBag.totalCostPrice;
}
@{
    ViewBag.Title = "Doanh thu bán hàng theo cửa hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutReport.cshtml";
}
<div class="flex">
    <div id="general-import">
        <!--<div class="container-fluid">
        <div class="page-header">-->
        @*<div class="pull-left">
                <div class="breadcrumbs">
                    <h1>@ViewBag.title</h1>
                </div>
            </div>*@
        <!--<div class="pull-right">

                </div>
            </div>
        </div>-->
        @using (Html.BeginForm("ExportExcel", "RevenueSales", FormMethod.Post, new { @id = "general", enctype = "multipart/form-data", @class = "form-horizontal fix" }))
        {
            if (checkEmployee)
            {
                @Html.HiddenFor(x => x.StationID)
            }
            @Html.HiddenFor(m => m.StartTime)
            @Html.HiddenFor(m => m.EndTime)
            <div class="container-fluid">
                <div class="messageValidation">
                    @Html.ValidationSummary()
                </div>
                <div class="row row-quanlyxe">
                    <div class="block-row">
                        <div class="flex">
                            <div class="manage-car-search row-plan-drive">
                                <p class="text-description-report text-description-report-time">Thời gian chạy báo cáo:</p>
                                <form action="">
                                    @Html.TextBoxFor(m => m.Time)
                                </form>
                            </div>
                            <div>
                                <p class="text-description-report">Hàng hoá:</p>
                                @(Html.Kendo().ComboBoxFor(m => m.ProductID)
                    .DataTextField("ProductDisplayName")
                    .DataValueField("ID")
                    .Placeholder("Chọn hàng hóa...")
                    .Suggest(true)
                    .Filter("contains")
                    .Name("ProductID")
                    .HtmlAttributes(new { id = "ComboboxProduct" })
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetProduct", "Product");
                        })
                        .ServerFiltering(true);
                    })
                    .Events(e => e.DataBound("onDataBoundCombobox").Change("onChangeCombobox"))
                )
                            </div>
                            <div>
                                @if (checkEmployee)
                                {
                                    @Html.HiddenFor(m => m.StationName, new { @class = "input-block-level none-edit", @readonly = "readonly" })
                                }
                                else
                                {
                                    <p class="text-description-report">Cửa hàng:</p>
                                    @(Html.Kendo().ComboBoxFor(m => m.StationID)
                            .DataTextField("StationDisplayName")
                            .DataValueField("ID")
                            .Placeholder("Chọn cửa hàng ...")
                            .Suggest(true)
                            .Filter("contains")
                            .Name("StationID")
                            .HtmlAttributes(new { id = "ComboboxStation" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetStation", "Station");
                                })
                                .ServerFiltering(true);
                            })
                             .Events(e => e.DataBound("onDataBoundCombobox").Change("onChangeCombobox"))
                         )
                                }
                            </div>
                        </div>
                        <div class="flex">
                            <div>
                                <p class="text-hide-custom">Xuất</p>
                                <div class="btn-output btn-plan-drive detail-report-button" id="export">
                                    <p class="text-14-500 padding-text-plan-drive detail-export">Chạy Báo Cáo</p>
                                </div>
                            </div>
                            <div>
                                <p class="text-hide-custom">Tải</p>
                                <div class="btn-download btn-plan-drive detail-report-button" id="download">
                                    <input type="submit" value="Tải file excel" class="text-14-500 padding-text-plan-drive detail-download" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="container-fluid" id="dealDetail">
            <div class="row-fluid">
                <div class="span12">
                    <div class="box">
                        <div class="box-content nopadding">
                            <div class="report-title">
                                <h1>@ViewBag.title</h1>
                                <h2 id="report-time"></h2>
                                <h2 id="report-station"></h2>
                                <h2 id="report-product"></h2>
                            </div>
                            <div id="detail-report"></div>
                            <script>
                                var rowselected;
                                var columns = [
                                    { field: "Count", title: "Thứ tự", width: '100px' },
                                    {
                                        field: "DateTime", title: "Ngày tháng", format: "{0: dd-MM-yyyy }", footerTemplate: "Tổng", width: "100px", filterable: {
                                            ui: function (element) {
                                                element.kendoDatePicker({
                                                    culture: 'vi-VN'
                                                });
                                            }
                                        }
                                    },
                                    { field: "InvoiceCode", title: "Số hoá đơn" },
                                    { field: "CustomerCode", title: "Khách hàng", footerTemplate: "Tổng" },
                                    { field: "SaleAmount", title: "Số lượng bán", template: "#= (data.SaleAmount ) ? kendo.format('{0:n0} lít', parseFloat(data.SaleAmount)) : '' #", aggregates: ["sum"], footerTemplate: "#= (sum) ? kendo.format('{0:n2} Lít', parseFloat(sum)) : '' #", width: '150px' },
                                    { field: "SalePrice", title: "Giá bán ghi trong HĐ", template: "#= (data.SalePrice) ? kendo.format('{0:n2} đ', parseFloat(data.SalePrice)) : '' #", width: '150px' },
                                    { field: "CostPrice", title: "Giá vốn trước thuế", template: "#= (data.CostPrice ) ? kendo.format('{0:n2} đ', parseFloat(data.CostPrice)) : '' #", width: '150px' },
                                    { field: "CostPriceCal", title: "Giá vốn", template: "#=(data.CostPriceCal ) ? kendo.format('{0:n0} đ', parseFloat(data.CostPriceCal)) : '' #", width: '150px', footerTemplate: "#= (sum) ? kendo.format('{0:n0} đ', parseFloat(sum)) : '' #" },
                                    { field: "Revenue", title: "Doanh thu thuần", template: "#=(data.Revenue ) ? kendo.format('{0:n0} đ', parseFloat(data.Revenue)) : '' #", aggregates: ["sum"], footerTemplate: "#= (sum) ? kendo.format('{0:n0} đ', parseFloat(sum)) : '' #", width: '150px' },
                                    { field: "RevenueSale", title: "Doanh thu bán hàng", template: "#=(data.RevenueSale ) ? kendo.format('{0:n0} đ', parseFloat(data.RevenueSale)) : '' #", aggregates: ["sum"], footerTemplate: "#= (sum) ? kendo.format('{0:n0} đ', parseFloat(sum)) : '' #", width: '150px' },
                                    { field: "RevenueInvoice", title: "Doanh thu hóa đơn", template: "#=(data.RevenueInvoice) ? kendo.format('{0:n0} đ', parseFloat(data.RevenueInvoice)) : '' #", aggregates: ["sum"], footerTemplate: "#= (sum) ? kendo.format('{0:n0} đ', parseFloat(sum)) : '' #", width: '170px' },
                                    { field: "Note", title: "Ghi chú", width: '150px' },
                                    { field: "Vehicle", title: "Phương tiện", width: '150px' }
                                ]
                                function loaddata(model) {
                                    if ($("#detail-report").data("kendoGrid") != null) { $('#detail-report').html(''); delete $("#detail-report").data("kendoGrid"); }
                                    $("#detail-report").kendoGrid({
                                        dataSource: {
                                            transport: {
                                                read: {
                                                    url: "/admin/RevenueSales/RevenueSales_Read/",
                                                    dataType: "json",
                                                    data: model
                                                }
                                            },
                                            aggregate: [
                                                { field: "SaleAmount", aggregate: "sum" },
                                                { field: "CostPriceCal", aggregate: "sum" },
                                                { field: "Revenue", aggregate: "sum" },
                                                { field: "RevenueSale", aggregate: "sum" },
                                                { field: "RevenueInvoice", aggregate: "sum" },
                                            ],
                                            emptyMsg: 'This grid is empty',
                                            schema: {
                                                model: {
                                                    ID: "ID",
                                                    fields: {
                                                        Count: { type: "number" },
                                                        DateTime: { type: "date" },
                                                        InvoiceCode: { type: "string" },
                                                        Vehicle: { type: "string" },
                                                        CustomerCode: { type: "string" },
                                                        SaleAmount: { type: "number" },
                                                        SalePrice: { type: "number" },
                                                        CostPrice: { type: "number" },
                                                        CostPriceCal: { type: "number" },
                                                        Revenue: { type: "number" },
                                                        RevenueSale: { type: "number" },
                                                        RevenueInvoice: { type: "number" },
                                                        Note: { type: "string" },
                                                    }
                                                },
                                            }
                                        },
                                        scrollable: true,
                                        columns: columns,
                                        filterable: true,
                                        dataBinding: function () {
                                            rowselected = new Array();
                                        },
                                        dataBound: function () {
                                            if (this.dataSource.view().length == 0) {
                                                //insert empty row
                                                var colspan = this.thead.find("th").length;
                                                var emptyRow = "<tr><td colspan='" + colspan + "'></td></tr>";
                                                this.tbody.html(emptyRow);

                                                //workarounds for IE lt 9
                                                this.table.width(1000);
                                            }
                                        },
                                        change: function () {
                                            rowselected = [];
                                            var len = this.select().length;
                                            for (i = 0; i < len; i++) {
                                                rowselected.push(this.dataItem(this.select()[i]).ID);
                                            }
                                        }
                                    });
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $("#export").click(function () {
            var modelReport = {};
                function checkHasStation() {
                    if ('@checkEmployee' === 'True') {
                        if (!$("#StationID").valid()) {
                            return true;
                        }
                        else {
                            modelReport.StationID = $("#StationID").val();
                            return false;
                        }
                    }
                    else {
                        if (!$("#ComboboxStation").valid()) {
                            return true;
                        }
                        else {
                            modelReport.StationID = $("#ComboboxStation").data('kendoComboBox').value()
                            return false;
                        }
                    }
                }
                checkHasStation();
            var timeString = $("#Time").val();
            var timeArray = timeString.split(" Đến ");
            var startTime = timeArray[0];
            var endTime = timeArray[1];
            modelReport.startTime = startTime;
            modelReport.endTime = endTime;
            modelReport.ProductID = $("#ComboboxProduct").val();
            loaddata(modelReport);
            $("#report-time").html(timeString);

            if ('@checkEmployee' === 'True') {
                loaddata(modelReport);
                $("#report-station").html("Cửa hàng: " + $("input[name='StationName']").val());
            } else {
                if (modelReport.StationID == null || modelReport.StationID == "") {
                    alert("Vui lòng chọn cửa hàng");
                } else {
                    loaddata(modelReport);
                    $("#report-station").html("Cửa hàng: " + $("#ComboboxStation").data('kendoComboBox').text());
                };
            };

            if (modelReport.ProductID == null || modelReport.ProductID == "") {
                $("#report-product").html("Hàng Hoá: Tất cả")
            } else {
                $("#report-product").html("Hàng Hoá: " + $("#ComboboxProduct").data('kendoComboBox').text());
            };
        });
        $("#download").click(function () {
            var timeString = $("#Time").val();
            var timeArray = timeString.split(" Đến ");
            var startTime = timeArray[0];
            var endTime = timeArray[1];
            $("input[name='StartTime']").val(startTime);
            $("input[name='EndTime']").val(endTime);
        });
    });
</script>
