@model WebContent
<link href="~/Content/themes/web/css/global.css" rel="stylesheet" />

@{
    var item = Model;
    var webmodule = item.WebModule;

    var url = Url.Action("Detail", "Home", new
    {
        metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
        id = item.ID,
        m_metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web",
        m_id = webmodule.ID,
        area = ""
    });
    TempData["Title"] = Utility.UseStringHasValue(item.SeoTitle, item.Title);
    TempData["Description"] = Utility.UseStringHasValue(item.MetaDescription, item.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(item.MetaKeywords, item.SeoTitle);
    TempData["Image"] = ApplicationService.Domain + Model.Image;
    TempData["URL"] = ApplicationService.Domain + url;
    TempData["Cat"] = webmodule.Title;
}

<div class="row margin-top-30">
    <div class="col-md-8">
        <div id="divPrint">
            <h4 class="font-weight-bold">@item.Title</h4>

            <p class="time-news"> @String.Format("{0:dd/MM/yyyy}", item.PublishDate) </p>

            <div class="printHidden">
                @*@Html.Action("_OtherNews", "Article", new { area = "ContentType", id = item.ID, position = "top" })*@
            </div>

            @Html.Raw(HttpUtility.HtmlDecode(item.Body))
        </div>
        @Html.Partial("_Socical2")

        @Html.Action("_PubYKienCuaBan", "Contact", new { area = "ContentType", id = webmodule.ID, webContentTitle = ViewBag.WebContentTitle })

        <div class="printHidden">
            @Html.Action("_OtherNews", "Article", new { area = "ContentType", id = item.ID, position = "bottom" })
        </div>
    </div>
    <div class="col-md-4">

        @Html.Action("_BoxDocNhieu", "Article", new { area = "ContentType" })

        @Html.Action("_Adv", "Advertisement", new { area = "", position = "_adv_chi_tiet" })
    </div>
</div>

