@model WebModels.WebContent
 

@using (Html.BeginForm("Delete", "Article", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{   
    <div class="alert alert-info"> 
		@Html.Raw(Resources.Common.DeleteSureItem):  <strong>@Html.DisplayFor(m => m.Title )</strong>   ?
	</div>
 
    <div class="validation-group"> 
        @Html.ValidationSummary(true) 
    </div>

     <div class="form-actions">
        <button class="btn btn-primary" type="submit">@Resources.Common.Delete</button> 
    </div>
    @Html.HiddenFor(m => m.Title )
    @Html.HiddenFor(m => m.ID )          
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    top.winsetup("@Html.Raw(Resources.Common.DeleteItem)", 900, 150, true);
    function delete_success() {
        top.winclose();
        top.$("#grid").data("kendoGrid").dataSource.read(); 
    }
</script>
