@model List<WebModels.WebContent>


@using (Html.BeginForm("Deletes", "Article", FormMethod.Post, new { @class = "form-horizontal fix" }))
{
    <div class="alert alert-info">
        @Html.Raw(Resources.Common.DeleteSureItems):
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <strong> @item.Title </strong>
                    @Html.Hidden("[" + Model.IndexOf(item) + "].ID", @item.ID)
                    @Html.Hidden("[" + Model.IndexOf(item) + "].Title", @item.Title)
                </li>
            }
        </ul>
    </div>
    <div class="validation-group">
        @Html.ValidationSummary(true)
    </div>

    <div class="form-actions">
        <button class="btn btn-primary" type="submit"><i class="glyphicon-remove"></i> @Resources.Common.Delete</button>
    </div>
    @Html.AntiForgeryToken()
}

<script type="text/javascript">
    $(document).ready(function () {
        var h = 130 +  @(Model.Count *25) +0;
        if (h > 500) h = 500;
        top.winsetup("@Html.Raw(Resources.Common.DeleteItem) ", 900, h, true);
    });
    function deletes_success() {
        top.winclose();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
</script>
