@model WebModels.LocalPasswordModel

<script type="text/javascript">
    function onSuccess(data, status, xhr) {
        if (data.Success) {
            $('#change-password')[0].reset();
            alert("Change password successful!");
        } else {
            alert(data.Error);
        }
    }

    function OnFailure() {
        alert("Fail");
    }
</script>

@using (Ajax.BeginForm("_ChangePassword", "Account", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSuccess(data, status, xhr)", OnFailure = "onFailure" }, new { id = "change-password", @class = "form-horizontal" }))
{
    
    <div class="control-group">
        @Html.LabelFor(m => m.OldPassword, new { @for = "pw", @class = "control-label right" })
        <div class="controls">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "input-block-level" })
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.NewPassword, new { @for = "pw", @class = "control-label right" })
        <div class="controls">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "input-block-level" })
        </div>
        @Html.ValidationMessageFor(m => m.NewPassword)
        
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @for = "pw", @class = "control-label right" })
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-block-level" })
        </div>
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <div class="form-actions">
        <button type="submit" class="k-button">@Resources.Common.SaveChanges</button>
        <button type="reset" class="k-button" onclick="removechange()">Bỏ thay đổi</button>
    </div>
}