

@model ForgotPasswordModel

<table align="center" border="0" cellpadding="0" cellspacing="0" lang="container" style="max-width:700px" width="100%">
    <tbody>
        @*<tr>
                <td valign="top" width="100%">
                    <table lang="header" cellpadding="0" cellspacing="0" width="100%" border="0" style="width:100%">
                        <tbody>
                            <tr>
                                <td width="100%" height="70" valign="top" bgcolor="#183545" style="background:#183545;height:70px">
                                    <table cellpadding="0" cellspacing="0" width="100%" height="70" border="0" style="width:100%;height:70px">
                                        <tbody>
                                            <tr>
                                                <td style="width:20px" width="20"><div lang="space40"></div></td>
                                                <td valign="middle" align="left">
                                                    <div style="font-size:15px;line-height:15px;height:15px">&nbsp; </div>
                                                    <a href="https://protrading.vn/" target="_blank"><img src="https://protrading.vn/Images/protrading.png" width="200" alt="Protrading"></a>
                                                    <div style="font-size:15px;line-height:15px;height:15px">&nbsp; </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>*@

        <tr>
            <td bgcolor="#f0f0f0" style="background:#f0f0f0" valign="top" width="100%">
                <table border="0" cellpadding="0" cellspacing="0" lang="main_content" style="width:100%" width="100%">
                    <tbody>
                        <tr>
                            <td valign="top" width="100%">
                                <div style="font-size:30px;line-height:30px;height:30px">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="100%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="width:20px" width="20">
                                                <div lang="space40">
                                                </div>
                                            </td>
                                            <td valign="top">
                                                <p style="margin:0;padding:0;font-size:18px;color:#202020;font-family:Helvetica,Arial,sans-serif;font-weight:normal">
                                                    @Model.FullName thân mến,
                                                </p>

                                                <div style="font-size:10px;line-height:10px;height:10px">
                                                </div>

                                                <p style="margin:0;padding:0;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:24px">
                                                    Chúng tôi vừa nhận được yêu cầu thay đổi mật khẩu đăng nhập vào website của chúng tôi cho tài khoản email <a href='@string.Format("mailto:{0}", Model.Email)' target="_blank">@Model.Email</a>.
                                                </p>

                                                <p style="margin:0;padding:0;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:24px">
                                                    @*Bạn hãy <a href='@string.Format("https://protrading.vn/doi-mat-khau/{0}", Model.Token)' style="color:#33a2b2;text-decoration:none" target="_blank">BẤM VÀO ĐÂY</a> để thực hiện thiết lập mật khẩu mới cho tài khoản của bạn.*@
                                                    Mật khẩu mới của bạn là: <b>@Model.Token</b>
                                                </p>

                                                <br />
                                                <p style="margin:0;padding:0;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:24px">
                                                    (Bạn có thể đổi mật khẩu trong lần đăng nhập kế tiếp)
                                                </p>
                                            </td>
                                            <td style="width:20px" width="20">
                                                <div lang="space40">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="100%">
                                <div style="font-size:30px;line-height:30px;height:30px">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td align="center">
                <div style="font-size:15px;line-height:15px;height:15px">
                </div>

                <p style="margin:0;padding:0;font-size:16px;color:#202020;font-family:Helvetica,Arial,sans-serif;font-weight:normal">
                    <i>(Đây là email tự động, bạn vui lòng không trả lời email này)</i>
                </p>

                <div style="font-size:30px;line-height:30px;height:30px">
                </div>
            </td>
        </tr>
    </tbody>
</table>