@model WebModels.UserProfile
@{
    ViewBag.Title = "Thông tin cá nhân";
}
<style>
    [class^="icon-"], [class*=" icon-"] {
        padding-right: 5px;
    }
</style>
<div id="main">
    <div id="left">
    </div> 
    <div class="container-fluid">
    </div>
    <div class="row-fluid">
        <div class="span12">
            @Html.Raw(ViewBag.Alert)
            <div class="box box-color box-bordered">
                <div class="box-title" style="margin-bottom: 20px;">
                    <h1>
                        <i class="icon-user"></i>
                        Thông tin cá nhân
                    </h1>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#profile">Thông tin cá nhân</a></li>
                    <li><a data-toggle="tab" href="#notifications">Thay đổi mật khẩu</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane in active" id="profile">
                        @using (Html.BeginForm("UserProfile", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(m => m.StationID)
                            @Html.HiddenFor(m => m.StaffCode)

                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-12 padding-left-3vw">
                                    <div class="control-group">
                                        @Html.LabelFor(m => m.FullName, new { @class = "control-label right" })
                                        <div class="controls">
                                            @Html.HiddenFor(m => m.UserId)
                                            @Html.HiddenFor(m => m.UserName)
                                            @Html.HiddenFor(m => m.Avatar)
                                            @Html.TextBoxFor(m => m.FullName, new { @class = "input-block-level" })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        @Html.LabelFor(m => m.Mobile, new { @class = "control-label right" })
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.Mobile, new { @class = "input-block-level" })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "control-label right" })
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "input-block-level" })
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        @Html.ValidationSummary(true)
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <div class="fileupload fileupload-new " data-provides="fileupload">
                                        @*<div class="fileupload-preview fileupload-exists thumbnail avt_edit_pre" onchange="checkimg()"></div>*@
                                        <div class="fileupload-new thumbnail avt_edit" style="width: 100%">
                                            <img src="@ViewBag.Avatar" id="previewImg" class="css_inputimg" />
                                        </div>

                                        <div style="width:100%;">
                                            <span class="btn_editimg" style="width:100%; ">
                                                <label for="btn_editimg">
                                                    <i class="fas fa-camera fa-2x"></i>
                                                </label>
                                                <input type="file" name="imagefile" onchange="previewFile(this);" id="btn_editimg">
                                            </span>
                                            @*<a href="#" class="k-button fileupload-exists" data-dismiss="fileupload" style="text-decoration:none">@Resources.Common.Remove thay đổi</a>*@
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-actions">
                                <button type="submit" class="k-button">@Resources.Common.SaveChanges</button>
                                <button type="reset" class="k-button" onclick="removechange()">Bỏ thay đổi</button>
                            </div>
                            @Html.AntiForgeryToken()
                        }
                    </div>
                    <div class="tab-pane" id="notifications">
                        @Html.Partial("_ChangePassword", new LocalPasswordModel())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //var a = $('.avt_edit').width();
    //$(".avt_edit").css("height", a);
    //$(".previewImg").css("height", a);
    var b = $("#previewImg").attr("src");
    function previewFile(input) {
        var file = $("input[type=file]").get(0).files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function () {
                $("#previewImg").attr("src", reader.result);
            }

            reader.readAsDataURL(file);
        }
    }
    function removechange() {
        $("#previewImg").attr("src", b);
    }
</script>