@model IEnumerable<WebModels.WebContent>
@{
    ViewBag.Title = "Sự kiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box-new">
    <div class="news-cat">

        @foreach (var item in Model)
        {
            var img = item.Image != null ? item.Image : ApplicationService.NoImage;
            var webmodule = item.WebModule;
            var url = Url.Action("Detail", "Home", new
            {
                metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
                id = item.ID,
                m_metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web",
                m_id = webmodule.ID,
                area = ""
            });
            <div class="item">
                <div class="item-imagebox">
                    <a href="@url"><img src="@img" alt="@item.Title" title="@item.Title" /></a>
                </div>
                <div class="item-review">
                    <h3 class="article-title">
                        <a href="@url">@item.Title</a>
                    </h3>
                    <p class="date">@item.CreatedDate.Value.ToShortDateString()</p>
                    <p>@item.Description</p>
                </div>
                <div class="clearfix"></div>
            </div>
        }
        @if (ViewBag.TotalItemCount > ApplicationService.PageSize)
        {
            <div class="pager">
                @Html.Raw(Html.Pager(
                            new Options
                            {
                                PageSize = ApplicationService.PageSize,
                                TotalItemCount = ViewBag.TotalItemCount,
                                CurrentPage = ViewBag.CurrentPage,
                                ItemTexts = new ItemTexts() { Next = "", Previous = "" },
                                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                                TooltipTitles = new TooltipTitles() { Next = Resources.Common.NextPage, Previous = Resources.Common.PreviousPage },
                                Size = Size.normal,
                                IsShowControls = true,
                                Alignment = Alignment.centered,
                                IsShowFirstLast = false,
                                IsShowPages = true
                            }, new RouteValueDictionary(ViewBag.RouteValues)))
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>



