@model IEnumerable<WebModels.WebModule>
@{                                            
    TempData["Title"] = "SiteMap HVC";                  
}
<div class="content content-border">
    <div class="title-ca"> SiteMap</div>
        <ul id="browser" class="sitemap treeview">
                    @foreach (var item in Model)
                    {
                        var node = item;
                        <li>
                            @if (string.IsNullOrEmpty(node.UID) || string.IsNullOrWhiteSpace(node.UID))
                            {
                                if (string.IsNullOrEmpty(node.URL) || string.IsNullOrWhiteSpace(node.URL))
                                {
                                    <span class="home"><a title="@Utility.UseStringHasValue(node.SeoTitle, node.Title)" href="/">@node.Title</a></span>
                                }
                                else
                                {
                                    <a class="home" href="@node.URL" target="@node.Target">@node.Title</a>
                                }
                            }
                            else
                            {
                                if (string.IsNullOrEmpty(node.URL) || string.IsNullOrWhiteSpace(node.URL))
                                {
                                    <span class="ie">@Html.ActionLink(@node.Title, "Index", "Home", new { metatitle = node.MetaTitle != null ? node.MetaTitle : "web", id = node.ID }, new { title = Utility.UseStringHasValue(node.SeoTitle, node.Title) })</span>
                                }
                                else
                                {
                                    <a class="ie" href="@node.URL" target="@node.Target">@node.Title</a>
                                }
                            }

                            @if (node.SubWebModules.Any())
                            {
                                @CreateMenu(node.SubWebModules )
                            }
                        </li>
                    }
                </ul>
</div>
<script src="~/Content/jtreeview/jquery.treeview.js"></script>
<link href="~/Content/jtreeview/jquery.treeview.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $(".sitemap").treeview();
    });
</script>

 
               
 

 
@helper CreateMenu(IEnumerable<WebModels.WebModule> nodes )
{
    <ul>
        @foreach (var item in nodes)
        {
            var node = item;
            <li>
                @if (node.UID != null)
                {
                    if (string.IsNullOrEmpty(node.URL) || string.IsNullOrWhiteSpace(node.URL))
                    {
                        <span class="ie"> @Html.ActionLink(@node.Title, "Index", "Home", new { metatitle = node.MetaTitle != null ? node.MetaTitle : "web", id = node.ID  }, new { title = Utility.UseStringHasValue(node.SeoTitle, node.Title) })</span>
                    }
                    else
                    {
                        <a class="ie" href="@node.URL" target="@node.Target">@node.Title</a>
                    }
                }
                else
                {
                    if (string.IsNullOrEmpty(node.URL) || string.IsNullOrWhiteSpace(node.URL))
                    {
                        <span class="home">  <a title="@Utility.UseStringHasValue(node.SeoTitle, node.Title)"  href="/">@node.Title</a> </span>
                    }
                    else
                    {
                        <a class="home" href="@node.URL" target="@node.Target">@node.Title</a>
                    }
                }
                @if (node.SubWebModules.Any())
                {
                    @CreateMenu(node.SubWebModules)
                }
            </li>
        }
    </ul>
}