@model IEnumerable<WebModels.WebContent>

@{
    var webmodule = (WebModule)ViewBag.WebModule;
    var moduletran = webmodule;
    var urlcat = webmodule.URL;
    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web", id = webmodule.ID, area = "" });
    }
    
    
    TempData["Title"] = Utility.UseStringHasValue(webmodule.SeoTitle, webmodule.Title);
    TempData["Description"] = Utility.UseStringHasValue(webmodule.MetaDescription, webmodule.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(webmodule.MetaKeywords, webmodule.SeoTitle);
    var urlFull = ApplicationService.Domain + urlcat;
    TempData["URL"] = urlFull;
    TempData["Cat"] = webmodule.Title;

    var lstDataGroup = Model.GroupBy(x => x.WebModuleID)
        .Select(y => new
        {
            Title = y.FirstOrDefault().WebModule.Title,
            ListConten = y.Select(y1 => new WebContent
            {
                Link = y1.Link,
                Title = y1.Title,
                Image = y1.Image
            })
        }
    );
}

<script>
    $(document).ready(function () {
        $("#page").val(@ViewBag.Year);
    });

    function onChangeYear(ddlYear) {
        var selectedValue = ddlYear.value;
        var url = "@urlFull" + "?nam=" + selectedValue;
        window.location.replace(url);
    }

</script>
<div class="row margin-top-20">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
        <p class="font-weight-bold">Chọn năm xuất bản</p>
        @Html.DropDownList("page", new SelectList(ViewBag.LstNam, "ID", "ID"), new { @onChange = "onChangeYear(this);", @class = "browser-default custom-select" })
    </div>
</div>

<div class="row margin-top-20">

    @if (lstDataGroup.Count() > 0)
    {
        foreach (var items in lstDataGroup)
        {
            <div class="col-md-12">
                <div class="title-box margin-bottom-20">
                    @items.Title
                </div>
            </div>

            foreach (var item in items.ListConten)
            {
                var img = item.Image != null ? item.Image : "/images/no-image.jpg";

                <div class="col-md-2">
                    <div class="box-item-anpham">
                        <a href="@item.Link" target="_blank"><img src="@img"></a>
                        <a class="title-anpham">
                            @item.Title
                        </a>
                    </div>
                </div>
            }
        }

    }

</div>
