@model WebModels.WebModule
@{

}


@using (Html.BeginForm("EditModule", "OnePage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{
    
                <div class="row-fluid control-group">
                    <div style="width:99%;">
                        <div class="box">
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.Title)
                            <div class="box-content nopadding">
                                @Html.TextAreaFor(m => m.Body, new { @id = "contenteditor", @style = "height:550px;" })
                                <script type="text/javascript">
                                    var editor = CKEDITOR.replace('contenteditor', {
                                        customConfig: '/content/ckeditor/config.js',
                                        filebrowserBrowseUrl: '/admin/upload/file?uid=webmodule',
                                        filebrowserImageBrowseUrl: '/admin/upload/image?uid=webmodule',
                                        filebrowserImageUploadUrl: '/admin/upload/imageck?uid=webmodule',
                                        filebrowserFlashBrowseUrl: '/admin/upload/flash?uid=webmodule',
                                        filebrowserFlashUploadUrl: '/admin/upload/flashck?uid=webmodule',
                                        height: '400px'
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="validation-group">
                    <div class="controls">
                        @Html.ValidationSummary(true)
                    </div>
                </div>
            

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">@Resources.Common.SaveChanges</button>
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    top.winsetup("@Html.Raw(Resources.Common.EditItem)", 900, 550, true);
    function edit_success() {
        top.winclose();
        top.location.reload();
    }
 
</script>