@model WebModels.WebConfig
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";     
}

@using (Html.BeginForm("Edit", "WebConfig", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{  
	<div class="control-group">
        @Html.LabelFor(m => m.Title, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Title, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>  
    <div class="control-group">
        @Html.LabelFor(m => m.Key, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Key, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.Key)
        </div>
    </div> 
      <div class="control-group">
        @Html.LabelFor(m => m.Value, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Value, new { @class = "input-block-level" }) 
        </div>
    </div> 
    <div class="validation-group"><div class="controls">
        @Html.ValidationSummary(true)</div>
    </div>

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">@Resources.Common.SaveChanges</button> 
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    $(document).ready(function () {
        top.winsetup("@Html.Raw(Resources.Common.EditItem)", 700, 250, true);
    });
    function edit_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
</script>
 