@model WebModels.WebLink
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("Edit", "WebLink", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{

    if (ApplicationService.Languages != null)
    {
        <div class="control-group">
            @Html.LabelFor(m => m.Culture, new { @class = "control-label" })
            <div class="controls">
                @(Html.Kendo().DropDownListFor(m => m.Culture)
                                  .HtmlAttributes(new { style = "width: 150px" })
                                  .DataTextField("Title")
                                  .DataValueField("ID").BindTo(
                                (IEnumerable<WebModels.Language>)ApplicationService.Languages
                                  )
                )
            </div>
        </div>
    }
    <div class="control-group">
        @Html.LabelFor(m => m.Title, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Title, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
          <div class="control-group">
                        @Html.LabelFor(m => m.Image, new { @class = "control-label" })
                        <div class="controls">
                            <div class="ctr-thumb" data-lang="">
                                <div class="thumb" style="width: 120px; height: 100px;">
                                    <img src='@String.Format("{0}",!string.IsNullOrEmpty(Model.Image)?Model.Image:ApplicationService.NoImage)' />
                                    @Html.HiddenFor(m => m.Image, new { @class = "hf-image" })
                                </div>
                                <div class="act">
                                    <ul>
                                        <li>
                                            <a href="javascrit:void(0)" style="position:relative; ">
                                                <span style=" top:0px; width: 140px; left: 0; position: absolute">Ảnh từ máy tính</span>
                                                <input class="file-image" name="image" data-lang="" accept="image/jpeg,image/png"
                                                       style="opacity: 0; height:20px; cursor: pointer;" type="file" />
                                            </a>
                                        </li>
                                        <li><a class="thumb-gallery" href="javascript: openwin('/admin/upload/image?uid=@ViewBag.GAK&func=setimagepath', '_blank', 900, 550)">Ảnh từ thư viện</a></li>
                                        <li><a href="javascript:openwin('/admin/upload/imagelink?uid=@ViewBag.GAK&func=setimagepath', '_blank', 700, 180)" class="thumb-link">Ảnh từ liên kết khác</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
 
    <div class="control-group">
        @Html.LabelFor(m => m.Link, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Link, new { @class = "span7" })
            @Html.DropDownListFor(
                                m => m.Target,
                                new SelectList(new List<SelectListItem>
                                 {
                                    new SelectListItem{ Text="Chuyển trang", Value = "_self" },
                                    new SelectListItem{ Text="Trang mới", Value = "_blank" }
                                 }, "Value", "Text")
                                )
        </div>
    </div>

    
    <div class="control-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(m => m.Description, new { @class = "input-block-level" })
        </div>
    </div>

       <div class="control-group">
        @Html.LabelFor(m => m.Order, new { @class = "control-label" })
        <div class="controls">
            @(Html.Kendo().NumericTextBoxFor<int>(m => m.Order)
            .Min(0)
            .Max(100)
            .Value(Model.Order).Format("#")
            )
        </div>
    </div>

    <div class="validation-group">
        <div class="controls">
            @Html.ValidationSummary(true)
        </div>
    </div>


    <div class="form-actions">
        <button class="btn btn-primary" type="submit">@Resources.Common.SaveChanges</button>
    </div>
    @Html.AntiForgeryToken()
} 
<script type="text/javascript">
    $(document).ready(function () {
        top.winsetup("@Html.Raw(Resources.Common.EditItem)", 700, 450, true);
    });
    function edit_success() {
        top.winclose();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }

    var imageFilter = new Array('.jpg', '.png', '.gif', '.bmp');
    function checkFileType(file, filter) {
        var fileName = file.name;
        var fileExtension = fileName.substring(fileName.lastIndexOf('.'));
        if (filter.indexOf(fileExtension.toLowerCase()) < 0) {
            return false;
        }
        return true;
    }
    var maxImageFileSize = 5242880;
    function checkFileSize(file, maxFileSize) {
        if (file.size > maxFileSize) {
            return false;
        }
        return true;
    }
    var current_thumb = "";
    $(document).ready(function () {
        current_thumb = $('.thumb #image').val();
    });
    $('.file-image').change(function (e) {
        var files = this.files;
        if (files.length > 0) {
            var i = 0;
            var isValid = checkFileType(files[i], imageFilter) && checkFileSize(files[i], maxImageFileSize);
            if (isValid) {
                var reader = new FileReader();
                reader.readAsDataURL(files[i]);
                reader.onloadend = function (e) {
                    var result = e.target.result;
                    if (result != null) {
                        $('.ctr-thumb .thumb img').attr('src', result);
                    }
                }
            }
            else {
                alert('File: [' + files[i].name + '] tải lên không hợp lệ.\nFile hợp lệ là file ảnh có định dạng: ' + imageFilter.toString() + ' và dung lượng tối đa cho phép là: ' + maxImageFileSize / (1024 * 1024) + 'MB');
            }
        }
    });
    function setimagepath(path) {
        $('.ctr-thumb .thumb img').attr('src', path);
        $('.ctr-thumb .thumb .hf-image').val(path);
        var fileimage = $('.file-image');
        fileimage = fileimage.replaceWith(fileimage.clone(true));
    }
    function setlinkpath(path) {
        $('#txtlink').val(path);
    }
</script>
