@model IEnumerable<Advertisement>


<div class="row">
    @if (Model != null && Model.Count() == 1)
    {
        var item = Model.First();
        if (string.IsNullOrWhiteSpace(item.Video))
        {
            <div class="col-md-12">
                <a href="@item.Link">
                    <img src="@item.Media" alt="@item.Title" title="@item.Title">
                </a>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <video width="100%" controls height="214">
                    <source src="@item.Video" type="video/mp4">
                </video>
            </div>
        }

    }
    else
    {
        foreach (var item in Model)
        {
            if (string.IsNullOrWhiteSpace(item.Video))
            {
                <div class="col-md-6">
                    <a href="@item.Link">
                        <img src="@item.Media" alt="@item.Title" title="@item.Title">
                    </a>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <video width="100%" controls height="214">
                        <source src="@item.Video" type="video/mp4">
                    </video>
                </div>
            }

        }
    }
</div>